[2016-10-01 01:34] spdomin opened #1 "Upgrade YAML to latest openly supported, production ready version"
YAML 0.3 has extensive usage of deprecated smart pointer syntax which causes a variety of build warnings on C++ 11 compilers/platforms.

Tasks:

1) Upgrade YAML

2) Verify that build warnings are removed

3) Ensure that test suite is clean

4) Update build instructions

5) commit

[2016-10-01 01:39] spdomin opened #2 "Deprecate usage of Epetra solver interface"
Epetra represents the 32-bit limited Trilinos solver stack.

Tpetra represents the 64-bit compliant Trilinos solver stack.

Activities:
1.  Remove instances of Epetra usage in favor of a single Trilinos interface
2. Retain the polymorphic solver interface design to allow future solver prototyping
3. Modify regression test to transition to Tpetra/Balos/ifpack2/Muelu.

[2016-10-07 16:39] spdomin opened #3 "ECP 1: Establish time-to-solution for ABL"
Activities:
1. Documentation of the ABL model implementation in NaluDoc.
2. Implementation of appropriate wall boundary conditions for energy and momentum transport.
3. Prototype STK_transfer of inflow boundary condition from the ABL to a subsequent simulation in which “velocity_bc” is interpolated in space and time for use in the inflow bc.
4. Testing, at available scales, ABL with solver and gen

[2016-10-07 16:45] spdomin opened #4 "ECP 4: Deploy Nalu/Kokkos algorithmic infrastructure with performance benchmarking"
Activities:
1. Algorithm infrastructure modification to operate on a homogeneous topology set; step 1 is to elevate std::vector resize operations to the algorithm constructor.
2. Transition of matrix assemble algorithms to use Kokkos-based matrix apply_coefficient().
3. Usage of Kokkos views in solver-based algorithms.

[2016-10-07 16:47] spdomin opened #5 "ECP 5: Deploy production sliding mesh capability with linear solver benchmarking"
Activities:
1. Improve baseline sliding mesh capability at curved surfaces.
2. Evaluate ATDM-based parallel search methods.
3. Establish matrix set-up cost timings.
4. Evaluate possible lagging of matrix update.
5. Evaluate reduction of matrix system by omitting moving block column entries in favor of multiple matrix assembly/solve iterations.

[2016-10-07 16:48] spdomin opened #6 "ECP 6: Establish and improve strong scaling of linear solves on high aspect ratio meshes"
Activities:
1. Evaluate current solver technologies for high aspect ratio meshes.
2. Develop improved coarsening and preconditioning techniques.
3. Evaluate possible algorithmic discretization approach improvements.
4. Explore approximate LHS contribution’s effect on linear and nonlinear solver convergence.

[2016-10-07 16:49] spdomin commented on #6
Previous comments captured under spdomin/Nalu:

@spdomin I'd like to start by identifying a set of canonical tests with high aspect ratios and benchmarking their performance. Ideally, the tests wouldn't be too large, so that some analysis might be possible.

@jhux2 Sounds great. The heatedWaterChannel is one that you used before. I can find more next week.

[2016-10-07 16:51] spdomin opened #7 "ECP 10: Memory reduction techniques for higher-order"
Activities:
1. Establish static condensation approaches with local, fast solves.
2. Deploy preconditioner coarsening strategies which may require only the P=1 system to be stored.
3. Evaluate matrix-free methods for both advection/diffusion and possible PPE.

[2016-10-07 16:52] spdomin opened #8 "ECP 12: Mixed-order production runs with overset or sliding mesh"
Activities:
1. Implement proper infrastructure for generalized interfaces.
2. Implement master element methods for low- and higher-order search methods to determine proper face:element DG pairs.
3. Test mixed element approach for Hex8:Tet4 and Hex8:Hex27 topologies.

[2016-10-07 16:53] spdomin opened #9 "ECP 13: Improvements to linear solver setup costs"
Activities:
1. Benchmark, at scale, solver setup costs over the history of the project (~once per year).
2. Improve RAP operation.
3. Integrate with Kokkos and Tpetra.

[2016-10-07 16:54] spdomin commented on #9
Previous comments:

@spdomin I plan on tackling item 2, specifically the MPI scalability.

[2016-10-07 16:55] spdomin opened #10 "ECP 14: in situ matrix modifications"
Activities:
1. Establish local row- and column-maps for dofs only at moving mesh interfaces.
2. Modify matrix assembly to exploit locally changed matrix maps.
3. Work with Tpetra team to allow for in situ matrix modifications.

[2016-10-07 17:08] spdomin commented on #5
@srajama1 I am working on obtaining a patch for the new ATDM-based search. Once I have that, you can help out on establishing search efficiencies.

[2016-10-07 17:12] srajama1 commented on #5
Thanks, I was talking to Nate about it. Let me know how I can help.

[2016-10-07 17:14] srajama1 commented on #7
Is there some some pointers for reading one can start with ? What is the local, fast solve here, LU on small blocks ?

[2016-10-07 17:40] spdomin opened #11 "Add proper NaluUnit repository"
Let's invert the pyramid in Nalu regression testing and start building a high quality unit test harness. The former NaluUnit was more like a sandbox.

[2016-10-07 17:46] spdomin commented on #5
@mbarone81 let's add your overset work to this as well with the hope that this milestone will define the path forward for blade motion.

[2016-10-07 17:51] spdomin commented on #7
@srajama1 take a look at the attached reference for the basics of the higher order method:

https://web.stanford.edu/group/ctr/Summer/SP14/09_Large-eddy_simulation/03_domino.pdf

Also, please interface with @rcknaus as he has some good papers on static condensation and local solves.

[2016-10-07 19:16] spdomin opened #12 "Actuator line with FSI"
Fully transition A/L to Nalu.

Activities:
1. Generalize machine definition to allow for a turbine definition
2. Generalized rotation
3. FSI coupling
4. Documentation
5. Testing at scale to ensure that underlying parallel model is adequate, i.e., ghosting collection of elements to A/L point

[2016-10-07 19:31] spdomin commented on #11
Placeholder:

https://github.com/NaluCFD/NaluUnit

[2016-10-09 17:05] spdomin commented on #1
Looks like: http://www.yaml.org Points to: https://github.com/jbeder/yaml-cpp/

I built the above version on my Mac - which was clean. Lots of internal changes to make in the code. Most notably the removal of FindValue... My guess is that this will be a day or two effort. @gantech, you may want to consult with @skennon10 if you get stuck.

[2016-10-10 02:22] alanw0 commented on #11
I'm interested in doing this.
We should talk to make sure we're on the same or similar page, but I think unit-tests will be most useful if they are in the same repository as the code they test.
I think the gtest system makes unit-tests very easy to manage. I see that our trilinos configuration already has the gtest dependencies imported and ready to use. If you want, I can trivially show you what

[2016-10-10 02:28] alanw0 commented on #4
I'm interested in doing this.
I have an intel build completed for use with vtune profiling to guide step 1., and I'll be happy to work with Christian on testing, integrating, and deploying the kokkos work he has prototyped, and move on with further kokkos integration as appropriate.

[2016-10-10 02:39] alanw0 commented on #10
Some combination of steps 1 and 2 probably do have the potential to improve performance on our side, without initially requiring Tpetra changes. That would then allow us plenty of lead time to collaborate with the Tpetra folks to stage in some enhancements in priority order, driven by good performance data.

[2016-10-10 02:46] alanw0 commented on #2
I'd be happy to help with this activity.

[2016-10-10 11:24] skennon10 commented on #1
I've used both old and new versions, so please let me know if I can help.

[2016-10-10 16:31] gantech commented on #1
Thanks. I forked Nalu here https://github.com/gantech/Nalu and will be developing this feature on a branch. @skennon10 I'll ask you questions as I go through this process. Finally I'll issue a pull-request after code-review by you guys and passing of all tests in NaluRTest.

[2016-10-10 21:49] spdomin opened #13 "Normal distance to the wall usage for resolved and wall function simulation"
When computing y+, what is the value of Yp that should be used?

The current wall-resolved implementation is using a normal distance = 1/4*normalOpposingEdgeDistance. However, based on the usage of the projected nodal gradient, this distance should simply be normalOpposingEdgeDistance.

For the wall-function approach, more thought is required.

[2016-10-10 22:17] spdomin commented on #13
Wall-resolved case improved: commit 16e309a82244a5c626303c195e48847de5766c67

Higher order may add complexity - or not...

[2016-10-11 02:50] spdomin commented on #10
@mhoemmen; this is a long term ECP requirement on Tpetra that we may need elevated to the Trilinos backlog if it gets too deep for the team. Hopefully, this is a synergistic activity that other application teams require. You can see that we have some time to get this done...

[2016-10-11 02:55] spdomin commented on #5
@alanw0, take a look at commit dbd1b958a52f82b0d3209ccb4b4d7c621016e62d for a new test to start profiling for NonConformalManager ghosting costs. This should replace the effort on edgeContact3D.

[2016-10-11 03:26] mhoemmen commented on #10
@spdomin wrote:

Would it be correct to translate this into Tpetra terms as follows?  "Let Tpetra's sparse graph and matrices change their local structure, yet not change their communication pattern for sparse matrix-vector multiplies, if changing the communication pattern is unnecessary."

[2016-10-11 14:49] alanw0 commented on #5
ok got it, I'll take a look at the dgNonConformalEdgeCylinder test.

[2016-10-12 13:14] spdomin commented on #13
@mbarone81, while you are working on the ABL, think about the wall-modeled approach and the appropriate normal distance to use. I am thinking that it is also the full edge-length.

[2016-10-12 13:32] mbarone81 commented on #13
Will do -- my first thoughts are that full edge length is appropriate.

[2016-10-12 14:24] alanw0 commented on #10
@mhoemmen, I'm not in deep enough yet to be sure if that's a correct description. But if a primary source of change is due to changing ghost entities, then a division between local structure vs boundary/communication patterns may indeed be a good way to describe it.

[2016-10-13 16:00] spdomin opened #14 "Trilinos and TPL status"
This is a live update on the status of Trilinos and other TPL builds/versions.

[2016-10-13 16:01] spdomin commented on #14
@core

10/13/2016 NaluRtest
PROCESS FAILED
NaluCFD/Nalu SHA1: 636a6744e60f9c730dc540aa59baf9d8605e0011
Trilinos SHA1: 46a01d623c988b686e9af23e2eda920a2aa51de8

/scratch/spdomin/nightlyBuildAndTest/Nalu/include/LinearSolverTypes.h:13,
                 from /scratch/spdomin/nightlyBuildAndTest/Nalu/include/LinearSolver.h:12,
                 from /scratch/spdomin/nightlyBuildAndTest/Nalu/src/LinearS

[2016-10-13 17:38] spdomin commented on #6
@jhux2 I added a new test for you under /home/spdomin/channelFlow.tar

This is a simple LES channel flow with high AR (around 50).

[2016-10-13 19:41] spdomin opened #15 "Surface force and moment post processing zeros out fields when not applying"
In my LES channel flow, I am computing a time mean tau_wall, Yplus, etc. However, the algorithm is only executed at a user-defined output step. Meanwhile, the field is always zeroed each and every time step.

Bottom line: the instantaneous tau_wall is fine, however, the time mean is not correct unless the algorithm is applied each and every time step.

Fix: In the AlgDriver, make sure that we only

[2016-10-14 19:24] spdomin commented on #14
Develop is now working... https://github.com/trilinos/Trilinos/issues/703

10/14/2016
Rtest Begin:
..periodic3dElemNp1........... PASSED:  4.7  s
Rtest End
NaluCFD/Nalu SHA1: 636a6744e60f9c730dc540aa59baf9d8605e0011
Trilinos/master SHA1: c89b07a90b1d21f56e8714c1cfe9274c058ba042

[2016-10-17 14:51] spdomin commented on #5
@srajama1, could you please keep track of the ATDM-based search and test it once it is conformed that point/box has been deployed? I need to start working on the kokkos algorithm structure task. Thanks.

[2016-10-18 17:15] spdomin opened #21 "Generic build/test issues for Nalu"
@NaluCFD/core, Any current build issues comment here.

[2016-10-18 17:54] gantech commented on #1
I have a version that compiles with the latest yaml-cpp interface. @skennon10 it would be great if you could take a look at commit https://github.com/gantech/Nalu/commit/147ff710b4b9e51d481a7d1d1fd5e7864662dc75 and let me know if seems reasonable. I'm running tests now. I also made a small repo https://github.com/gantech/tryYAMLCPP to try out some options before implementing them in nalu.

[2016-10-18 18:48] mbarone81 commented on #3
Adding to the activities list:
5. Implement Coriolis term
6. Implement  user-defined initial condition for specified virtual potential temperature profile
7. Assess overall boundary condition approach for ABL simulations relative to prior art and any required improvements.

[2016-10-18 19:30] spdomin commented on #1
Sounds good. I tagged and released the code yesterday to make sure that we have a clean break from the 0.3.0 standard...

[2016-10-19 14:22] nmhamster commented on #4
@alanw0 remember that we have VTune connectors for Kokkos kernels that greatly simplify how information is presented up into VTune. In general VTune with these is not a great experience since the OpenMP regions utilized by Kokkos can't be separated out cleanly. We can talk more about this if you like. The connectors also work with `nvprof` and we are looking at some other tools as well.

[2016-10-19 14:47] alanw0 commented on #4
@nmhamster ok thanks Si, that will help. NGP profiling is difficult. We've had some success with vtune and recently Christian helped us start looking at nvprof for the stk project. The more help the better.

[2016-10-19 21:07] spdomin commented on #5
Hex8/Hex27 or Hex27/Hex27 is now completed: commit d2adbe82d786c3ac8fa9221730788923a6a184f9

[2016-10-20 15:43] mbarone81 commented on #21
@spdomin, @rcknaus , I reproduced my build issue where I am attempting to build debug Nalu linked to optimized Trilinos.  In this case `make -VERBOSE=1` reveals the following compiler flag sequence: -std=c++11 -O3 -DNDEBUG -g.  So we have both -O3 and -g; this results from line 88 of CMakeLists.txt. I am not sure what *should* happen in this case.  However, when I use totalview on the resulting ex

[2016-10-20 15:52] marchdf commented on #4
@nmhamster I am interested in the VTune Kokkos connectors if someone could share those with me. I started looking at things with Allinea Map but was curious about trying out VTune.

@spdomin Also, any thoughts on what tests we should be using for performance benchmarks? I have been looking at some of the regression tests and some of the performance tests as well. Do the performance tests capture w

[2016-10-20 16:50] nmhamster commented on #4
@marchdf - can you please checkout [Kokkos Tools](https://github.com/kokkos/kokkos-tools.git)? If you go into the `src/tools/vtune-connector` directory, edit the Makefile to point to the VTune installation and then run `make`. It can build with GNU compilers. To run your NALU and Trilinos builds you need to enable the CMake `-DKokkos_ENABLE_Profiling:BOOL=ON` option. You will need to rebuild Trili

[2016-10-20 17:23] jhux2 commented on #21
@mbarone81 What exactly is the build problem you've hit?

For the record, I also hack the Nalu CMakeLists.txt file to suit my needs.  It's a valid use case to build optimized with debug symbols.  In Trilinos, you can do this with ```-D CMAKE_BUILD_TYPE:STRING=RELWITHDEBINFO```.

[2016-10-20 18:27] mbarone81 commented on #21
@jhux2, the problem is that the Nalu debug executable that is generated (linked to optimized Trilinos) using unmodified cmake/config files does not seem to be compatible with totalview. My conjecture was that the appending of the Trilinos build options '-O3' to the Nalu compile flags on line 88 of CMakeLists.txt is the source of the problem.

[2016-10-20 19:10] alanw0 commented on #21
@mbarone81 Regarding the debug build not working with -Werror: I've been manually removing the -Werror flag also. But I think it's highly desirable for our code to build cleanly with no warnings or errors. I think Stefan said we're waiting on a yaml fix or upgrade, hopefully that issue will resolve. In general it is harder though when our build includes code outside our control.

[2016-10-20 19:29] mbarone81 commented on #21
@alanw0 Thanks for the info, good for me to have a sanity check.

[2016-10-20 19:35] spdomin opened #22 "Quad9SCS:Hex27 ip consistently"
Extracting nearest nodes to its is not consistent for higher order elements.

The snippet of code that shows this issue is as follows:

        // mapping from ip to nodes for this ordinal
        const int *faceIpNodeMap = meFCCurrent->ipNodeMap();
        const int *ipNodeMap = meSCSCurrent->ipNodeMap(currentFaceOrdinal);

        // gather current face data
        stk::mesh::Entity const* curr

[2016-10-20 19:36] spdomin commented on #21
I think that it is boost as well that has warnings that manifest in Nalu.

Agreed that we need a clean build. Sometimes, Trilinos warnings creep in as well.

[2016-10-21 17:05] spdomin commented on #22
Okay, this is working now: commit 2134a69b85a9450783d0d5e85c5e401213910310

@rcknaus, still would like to see the unit test

[2016-10-21 23:18] spdomin commented on #14
Bad test suite as of Trilinos SHA1:

commit 5320963fbe2ec9aeba1dc62871e4be4f44961970
Author: Tobias Wiesner <tawiesn@sandia.gov>
Date:   Wed Oct 19 14:43:41 2016 -0600

Last good:

NaluCFD/Nalu SHA1: d2adbe82d786c3ac8fa9221730788923a6a184f9
Trilinos/master SHA1: 12fd285b28abeb7336a8d4f17913819b9ce7015b

[2016-10-22 00:57] spdomin commented on #14
@jhux2 and @srajama1 could one of you perform this bisect? There are many code states of Trilinos between the two states of SHA1 (good and bad) that either do not configure or die to build errors.

[2016-10-22 04:02] mchurchf commented on #21
@mbarone81 I'm running into the same issue that the debugger I'm using, Allinea ddt, can't show what some of the variables are because of the optimization, even if I build in debug mode because it is still compiling with -O3.  Did you figure out how to turn that off?  If I go to line 88 of CMakeLists.txt, and take out the Trilinos part that gets appended on, then I don't think it is getting any fl

[2016-10-22 15:52] spdomin commented on #21
For the time being, I think that if everyone runs with a consistent DEBUG option set in Trilinos and Nalu, all is well.

Also, if someone can look at the CMake file to clean this up, that would be great. In general, we run debug with full debug code builds. However, I suppose that allowing for mixing and matching of Nalu and Trilinos should be supported??

[2016-10-22 16:58] spdomin commented on #14
31d1a077ad748d89f227c359c9ebdb1b6fe40cbf is the first bad commit
commit 31d1a077ad748d89f227c359c9ebdb1b6fe40cbf
Author: Tobias Wiesner <tawiesn@sandia.gov>
Here is the culprit...

Date:   Mon Oct 17 12:29:53 2016 -0600

    Ifpack: introduce optimized SGS algorithm for 1 rhs only.

    In most cases we have only one rhs vector. Avoiding double indices saves
    approximately 25-30% iteration time

[2016-10-24 14:27] mchurchf commented on #21
Yes, I think that although I thought I had Trilinos built in debug mode, that didn't work properly, so Nalu was still grabbing the -03 optimize flag from the Trilinos build.

This brings up maybe a bigger picture question: for those of you who do a lot of actual Nalu development, like @spdomin and @alanw0, what tools do you use for development.  Stefan, you said you use Eclipse, but does that let

[2016-10-24 15:07] alanw0 commented on #21
For development I go back and forth between eclipse and vi. Eclipse provides nice navigation up and down call hierarchies, but for actual editing I like vi just because I've used it for so long.
totalview usually works well for debugging but sometimes there's no substitute for print statements.

[2016-10-24 15:31] spdomin commented on #14
Here is the current status: https://github.com/trilinos/Trilinos/issues/725

[2016-10-25 03:05] spdomin commented on #3
@mbarone81 I just thoroughly read your modifications to the theory manual. They look great - many thanks. If you can change u^* to u^{\tau} to be consistent with the other usage of wall friction velocity, that would be great. Looking forward to your above activities..

[2016-10-25 14:54] spdomin opened #24 "ECP 5(a): Develop robust, convergent NSO"
Explore the usage of NSO operators in the context of high speed LES flows.

Link to: https://github.com/NaluCFD/Nalu/issues/5

[2016-10-25 16:28] #22 closed

[2016-10-25 20:17] nmhamster opened #25 "SuperLU Version Number in Documentation in Incorrect (Very Minor Bug)"
Linux Build page, SuperLU is listed as version 2.9.2 but then 4.3 in the instructions. Minor bug.

[2016-10-26 19:05] spdomin commented on #25
Okay, thanks... I fixed this in the Nalu.wiki page.

[2016-10-26 19:05] #25 closed

[2016-10-27 20:39] mbarone81 commented on #3
Working on #5, Coriolis term

[2016-10-28 04:33] mchurchf commented on #12
@spdomin:
@gantech and I have identified something that we need to reorganize in the actuator line execute function.  The way it is currently set up, the first thing that happens is that if there is motion, the blades get moved and all the ghosting information gets updated by calling initialize().  Then the velocity is sampled in this new location, forces computed, and forces applied to the source

[2016-10-31 15:53] spdomin commented on #2
@alanw0 thanks for the offer. Let's have @jhux2 or @srajama1 take this on since it ties to a long ago Trilinos bugzilla ticket that spoke to the fact that the new solver stack is far more sensitive on remote platforms than Epetra/Aztec.

[2016-10-31 19:51] spdomin opened #29 "Demonstrate perfect restart for full phyics applications."
A restarted simulation does not provide **exactly** the same results. For example, if I run a simulation from step 1:100 and then restart at step 50, the steps are really (really) close, however, not perfect. This suggests a subtle start-up issue with restart that should be resolved.

@NaluCFD/core, I need someone who will lead this task. Might be good for a new developer..

The recent dgNonConfor

[2016-11-01 20:17] srajama1 commented on #2
This will depend on Trilinos issue https://github.com/trilinos/Trilinos/issues/649

I am working tech-X to remove this dependence. @jhux2 can take over once that issue is closed.

[2016-11-02 17:07] gantech commented on #1
Pull request submitted. Ready to change installation instructions if pull-request is accepted.

[2016-11-03 12:32] mchurchf commented on #12
Pasting in what @gantech wrote by email:

Hello,

  I’m starting a conversation reg. an issue Matt C bought up on github.

My comments:

  Matt is talking about lines near 524 in ActuatorLine.C in the integrateFAST branch (https://github.com/gantech/Nalu/blob/integrateFAST/src/ActuatorLine.C#L524). I see that the execute function parallel communicates coordinates, velocity and viscosity fields bef

[2016-11-03 12:34] mchurchf commented on #12
@spdomin and @gantech:

An update on the above.  I went ahead and moved things around in the original actuator line code (not Ganesh's integrate FAST branch), to sample at the old line location, and then move the line, and it all runs fine, but I need to test and make sure everything is really working okay.  @spdomin if you could comment on what Ganesh more clearly articulated than I did, that wou

[2016-11-03 14:30] spdomin commented on #1
Okay, I should get to this soon...

[2016-11-03 17:36] spdomin commented on #1
Greetings @NaluCFD/core team. Ganesh's hard work on the YAML conversion has paid off. I am performing the final tests today and expect to accept his pull request by COB tomorrow. This step will require a new YAML clone and build since the latest YAML is not backward compatible with 0.3.0.

The new version from which we will be operating will be as follows:

https://github.com/jbeder/yaml-cpp

If y

[2016-11-03 22:09] spdomin commented on #1
I found the source of the diff... inputFireEdgeUpwind has the following:

    - wall_boundary_condition: bc_pool
      target_name: surface_1
      wall_user_data:
        temperature: 298.0
        transmissivity: 0.0
        emissivity: 0.8
        temperature: 500.0

In other words, two temperature specifications..

[2016-11-03 22:38] gantech commented on #1
There is one other issue to consider. See https://github.com/NaluCFD/NaluRtest/blob/master/nightly/ablUnstableEdge/ablUnstableEdge.i, the source_terms in solution_options is specified twice. However, they're additive in this case. I had to go back to the existing overloaded stream operators for SolutionOptions.C because they append to an existing datastructure. The new suggested method of loading

[2016-11-04 16:11] aprokop opened #32 "Investigate using Docker for Nalu"

[2016-11-04 16:11] aprokop commented on #32
Hmm, I cannot assign labels, or even self-assign for the issue.

[2016-11-06 01:23] spdomin commented on #1
But you resolved this correct with your last commit before re I accepted the pull request right?

[2016-11-06 03:58] gantech commented on #1
Yes. The double_specification of terms in solution_options is handled the same way as the old yaml using overloaded stream operators.

 The last commit before you accepted the pull request was to remove boost/lexical_cast includes and one other unused variable to reduce compiler warnings.

[2016-11-08 22:25] spdomin commented on #3
I am starting on the saving of the data to an "inflow plane" to be used in a subsequent simulation.

Ideally, we could simply output the data at a surface, however, we may not have that functionality in STK_io. As a first step, I can create the input_output Realm (just like in TOS) and output data to that plane. Then, we could read that data within a stand-alone simulation. The later will always r

[2016-11-08 22:36] mbarone81 commented on #3
Sounds good -- the general capability would be to apply the field to any boundary surface (or plane).  This could be accomplished by allowing for multiple planes.  One can imagine, however, a use case where the inflow wind field is the same, but comes from a different direction of the compass for each wind plant simulation.  In that case the position of the boundary planes for sampling may be diff

[2016-11-09 16:56] spdomin commented on #3
@skennon10, does open-source Percept have the ability to read in a mesh (with blocks and surfaces) and export a chosen surface to a shell element?

[2016-11-09 17:21] skennon10 commented on #3
There is some code to do this, but it isn't exposed as an option. See PerceptMesh::convertSurfacesToShells.

Would you like me to run this on one of your meshes?

-- Steve

________________________________
From: Stefan P. Domino <notifications@github.com>
Sent: Wednesday, November 9, 2016 9:56 AM
To: NaluCFD/Nalu
Cc: Kennon, Stephen Ray; Mention
Subject: [EXTERNAL] Re: [NaluCFD/Nalu] ECP 1: Establ

[2016-11-09 18:36] spdomin commented on #3
Here is the interface to providing an inflow from a periodic ABL:

1) In the first ABL, either extract a surface to a shell or create a mesh to which output can be provided.
2) modify the ABL sim to include an XFER:

  - name: xfer_fluid_io
    type: geometric
    realm_pair: [fluidRealm, ioRealm]
    mesh_part_pair: [Front, block_101]
    objective: input_output
    transfer_variables:
      - [v

[2016-11-10 03:40] mbarone81 commented on #3
@spdomin This looks good, look forward to trying it out..

[2016-11-10 19:11] spdomin commented on #3
@mbarone81, okay, I verified the correctness in a LES channel. All looks correct. I also modified the ablUnsteadyEdge input file to output to a shell inflow plane. Then, I added a new input file to use this data as the inflow BC for the subsequent run.

As noted, this domain is acting strangely in the inflow/open config. We may want to change the top and sides to a symmetry? Not sure..

Here is th

[2016-11-11 17:07] spdomin opened #35 "FY17 ECP Goals"
@NaluCFD/core, From the SNL-owned ECP milestones, here are the FY17 high level project goals. Let's rally around these for the stand-up meetings and work to fill in the other efforts not yet captured. Below, I have a brief description of the task/goal followed by a link to the ECP. Finally, a delivery quarter is provided.

1. Implement and performance benchmark ABL; ECP [1](https://github.com/Nalu

[2016-11-11 21:55] aprokop commented on #32
I am close to finishing building TPLs in Docker. I have been ironing bugs in [Spack](github.com/llnl/spack) as that is a tool with a lot of potential to simplify our TPLs management. Spack is also part of some ECP projects.

I'm currently fixing the netcdf shared library issue with Spack, but it's close. Once that's done I'll have two layers in Docker: base and TPLs. Next layer would be Trilinos,

[2016-11-11 23:20] spdomin commented on #32
Okay, let me know how it turns out. I am aware of Spack (as I was about Docker). The real test would be how does it handle a cray build? Do you have access to Cori?

[2016-11-11 23:28] aprokop commented on #32
I'll have to check. I used to have access to edison, but haven't used that for a while.

[2016-11-14 03:44] jrood-nrel commented on #32
Hello my name is Jon. I have just begun working on a project with Nalu at NREL. My first order of business is to get Nalu building with Spack and I'm glad to see I'm not the only one with that idea. I previously lead the project to use Spack on the machines at NERSC. I am using the Peregrine machine at NREL at the moment and am trying to iron out issues with all the dependencies I am experiencing

[2016-11-14 14:09] aprokop commented on #32
@jrood-nrel I have had few troubles with Spack. I'm currently trying to install it in a Docker container with the latest Fedora image. The install image is very minimal, and I just install a stock compiler there  which is pretty new (gcc 6.2.1).

I'm trying to use the exact versions of TPLs as specified on [this page](https://github.com/NaluCFD/Nalu/wiki/linux_rh6). Here is my current spack script

[2016-11-16 22:23] aprokop commented on #32
OK, with some wizardry and hacking I was able to build TPLs' docker image. Now trying to build Trilinos with it.

[2016-11-17 21:34] spdomin commented on #32
Sounds good. Progress at NREL with Spack as wel..

[2016-11-18 16:51] aprokop commented on #32
Here is the list of TPLs issues this far: llnl/spack#2312, llnl/spack#2342, llnl/spack#2301, llnl/spack#2360

[2016-11-18 17:15] jrood-nrel commented on #32
Thanks. I am currently up to the linking process for Nalu. My approach is a little different however. I have started by using newer versions of TPLs and then moving backwards if I encounter problems like API changes, etc. I am using GCC 5.2 and CMake 3.6.1, HDF5 1.8.16, Boost 1.62.0, netcdf 4.4.1 and maybe some other differences. I still need to get past the Nalu linking phase, then test the binar

[2016-11-18 17:23] aprokop commented on #32
That is a viable and I think faster approach. I think most of the issues I encountered happened because I was trying to reproduce the standard environment exactly. I'm still dreading the NaLu compilation.

Yes, that would be nice, I think we should do PR for upstream. At the moment, I keep yaml-cpp external to spack and run the following command in `Dockerfile_tpls`:
[code]

[2016-11-18 17:57] jrood-nrel commented on #32
I have committed my Nalu, yaml, and custom Trilinos package files as they are right now to my Spack repo. I can't claim they work at all, but they are what I am mainly developing at the moment.

[2016-11-18 21:14] spdomin opened #38 "Does BCData for moving mesh surfaces sync with actual mesh motion?"
Make sure that wall_velocity_bc and velocity_bc syncs properly with the actual time value. I think it does, however, someone make sure...

The uqSliding mesh is a good test as it uses wall functions. The following is also an interesting note in the code...

[code]

[2016-11-18 21:28] spdomin commented on #38
Looks like it may be fine...

[code]

[2016-11-18 21:30] #38 closed

[2016-11-18 23:57] spdomin commented on #14
@NaluCFD/core, I just added Nalu.wiki instructions to building boost 1.60.0. Moving up to this version removes the warnings discussed at the stand-up yesterday.

[2016-11-19 01:12] jrood-nrel commented on #32
I believe I have Nalu building with Spack and some of the tests pass, but some of them look like they can't find input files or something and it may be I have my testing environment not complete since Nalu does not have a 'make install' process and I am installing it manually and then modifying the test scripts, but I am assuming my binaries work from this:

[code]

My install script looks like th

[2016-11-19 02:46] spdomin opened #40 "build/test status issue"
Looks cool (build/test status):

https://github.com/thujohn/twitter

Through Travis_CI?

https://travis-ci.org/thujohn/twitter

[2016-11-19 14:24] marchdf commented on #40
I actually spent quite a bit of time looking into something like that (I really wanted it for our readme). It seems that there are other services that you need in order to do that. The biggest seem to be Travis_CI and [CircleCI](https://circleci.com). They didn't seem particularly free but I can look into pricing and if they offer a trial project or time period.

[2016-11-20 15:39] spdomin commented on #40
That would be cool. But let's keep everything free or not worry about it. Also it looks like the actual nightly tests are from a forked Nalu code base and not the actual Nalu repos. Do you updat nightly? Let's chat next week.

[2016-11-21 22:10] mbarone81 commented on #3
Finished and pushed nodal Coriolis source term, and verified against Ekman spiral exact solution.  Now working on #6 on the list, user-defined temperature profile.  Open BC has been working well as a top BC in test cases for doubly-periodic lateral boundaries so far.

[2016-11-22 19:52] spdomin commented on #5
@NaluCFD/sliding, here is a sample timing for a 150 million element 1024 job (run 100 steps with two Picard loops).

[code]

[2016-11-22 23:18] alanw0 commented on #5
It's interesting to notice the details of the timings, particularly the difference between min and max for particular lines which indicates imbalance, but it's hard to say whether it's an imbalance of the elements, or work (e.g. localized work like search/contact), or imbalance of ownership of shared nodes which would affect linear-solver work since owned nodes tend to correspond to number of matr

[2016-11-22 23:24] spdomin commented on #29
I just noticed that in my moving mesh simulations, the population of the velocity relative to mesh is not computed until the realm::integrated_realm(). Making this change caused some diffs in restart (which I now thing are more consistent).

The change was simple and something that I will push very soon. I still think that all is not perfect though..

[code]

[2016-11-23 15:07] spdomin commented on #5
Exactly. This is a hybrid mesh. In general, for these types of meshes we find almost **perfect** elemental balances while the node balance is generally poor. Aero found this as well and changed the manner by which node ownership is processed (round robin rather than lowest rank). We probably can consider something similar to make sure that the rows are well balanced.

[2016-11-23 17:35] jrood-nrel commented on #32
Quick note. I have a pull request to add my SuperLU package file to Spack which builds version 4.3 required for Trilinos. Next I will submit my yaml-cpp package file. Then I will only need a custom Trilinos package file and Nalu package file. I haven't decided whether or not to try to get a Nalu package file approved since it depends on such a customized Trilinos build.

[2016-11-28 16:34] marchdf commented on #40
I just wanted to follow-up with you on a couple things from last week. I was away at a conference and that took up most of my time:

- Ctest/Cdash ran into some issues because if was using the develop branch of Trilinos and that was giving a configure error. I noticed you switched your Trilinos to master for testing so I did the same for Ctest. What are our thoughts on this? Which one should we be

[2016-11-28 16:37] marchdf commented on #40
File Edit Options Buffers Tools Help
@NaluCFD/core here is a set of instruction for adding tests to the CTest suite. Please let me know if you have any questions.

# Adding a new test to the CTest suite

There are two files that must be edited when adding a test to the
regression test suite, both located in the `cmake` directory:

- `ctest_prepare_tests.cmake`: sets up the directory structure need

[2016-11-28 16:54] spdomin commented on #40
@marchdf how about adding a new testing platform? I would like to push my Mac results to this page..

[2016-11-28 17:04] spdomin commented on #4
@NaluCFD/ngp, how about the following intermediate step towards Kokkos views?

The concept now is that the EquationSystem retains the max set of nodesPerElement and integration points. Then, rather than the resize per bucket, I set the std::vector once per execute. The next step will be to swap out std::vector to kokkos views. After than, well, you know..

I think that I like this better than the

[2016-11-28 17:06] crtrott commented on #4
Btw: on most platforms profiling support in Kokkos should be enabled by default. Probably not on Cray though.

[2016-11-28 17:10] marchdf commented on #40
@spdomin Working on that now. I need to change a couple small things in the files to enable that.

[2016-11-28 17:38] marchdf commented on #40
@spdomin I created a pull request for platform independence. I added some instructions on CTest in the [CTest readme](https://github.com/NaluCFD/Nalu/tree/master/cmake) on how to add a new platform. In theory it should work... I am curious to see how it works in practice.

I will also be looking at spack to make platform independence easier.

[2016-11-28 18:41] spdomin commented on #2
Who can actually do this task? Now that I am re-writing the Tpetra sumInto infrastrcture, this is getting hard to manage.

Can someone do this task this week? If not, I will be forced to take it over or assign it to someone else.

[2016-11-28 18:59] alanw0 commented on #4
@spdomin I think this looks good, incremental changes are always better than big changes when feasible. I'm looking forward to getting back on this!

[2016-11-29 15:10] spdomin commented on #2
I am doing this today.

[2016-11-29 16:17] spdomin commented on #2
@jhux2  and/or @srajama1 I hit a snag in a conversion test:

Throw number = 13

Throw test that evaluated to true: rowMap->getComm()->getSize() > 1

MueLu::Amesos2Smoother::Setup Fixing coarse matrix for Amesos2 for multiple processors has not been implemented yet.

[2016-11-29 17:22] jhux2 commented on #2
@spdomin Is MueLu building a one-level multigrid method, i.e., is Amesos2 being called directly on the Nalu PPE linear system?

[2016-11-29 17:34] jhux2 commented on #2
See discussion in Trilinos issue [889](https://github.com/trilinos/Trilinos/issues/889).

[2016-11-29 20:33] aprokop commented on #32
@jrood-nrel Good job, your SuperLU (llnl/spack#2390) and yaml-cpp (llnl/spack#2399) packages been merged to the spack master.

In the meantime, I've been able to compile Trilinos and Nalu using the older versions of the packages. I've been able to do a shared build with static versions of TPLs (which required some updates to spack packages to support "-fPIC"). I've also examined the shared version

[2016-11-29 20:41] jhux2 commented on #2
@spdomin I was under the impression that the tests in NaluRtest were run with both Epetra and Tpetra, but this must not be the case.  Are there some tests that were Epetra only before you started the conversion?

[2016-11-30 16:05] spdomin commented on #2
@jhux2 For legacy purposes, we included Epetra-based solves for bench marking against the new Tpetra solver stack. Now that I am removing Epetra, it is time to transition the old tests to use the new solver stack.

[2016-11-30 22:15] spdomin commented on #32
@NaluCFD/core, let's talk about the Docker/Spack path forward in a stand-up tomorrow.

[2016-11-30 22:51] spdomin commented on #2
@NaluCFD/core, Epetra usage is now deprecated. As such, the last code base that uses Epetra (and, for the record, YAML 0.3.0) is the v1.1.0-release.

Make sure that you update Nalu and NaluRtest for a clean running set of tests.

[2016-11-30 23:01] spdomin opened #43 "ECP 5(b): Evaluate dropping Jacobian entries for sliding/overset"
Remove LHS contributions for column entries on sliding mesh matrix entries that change over the simulation.

This will require modification of non-conformal algorithms in addition to increasing iterations over the continuity equation, e.g.,

[code]

Any takers from @NaluCFD/sliding or @NaluCFD/solver ?

I will start this next week if there are no volunteers.

[2016-12-01 18:34] spdomin commented on #4
@crtrott, any reason to believe that this change would have slowed down the code? My tests are still running, however, show that some cases are slower... However, in most simulations, I have a heterogeneous mesh.

One concern I had before with this approach is that for hybrid meshes, one topology might blow cache whereas the others are fine. With the MAX approach, all topologies might be blowing c

[2016-12-01 20:32] alanw0 commented on #4
I agree resize should be free (or at least negligible) if the size is not changing.
How much slower are the tests? We could take a look with vtune and see more detail about where the slowdown is.

[2016-12-01 23:36] sayerhs commented on #21
@spdomin Not sure if this is the proper place for this, if not please let me know...

Trying to perform a debug build of Nalu (f27afd0a11342b02) on `OS X El Capitan` I get the following error with `UnitTestsKokkosViews.C`

[code]

Adding `#include <random>` at the top of the file makes this error go away. Has anyone encountered this error, or did I set up something incorrectly on my macbook?

[2016-12-01 23:42] crtrott commented on #21
The include<random> should be there. This is a typical case in which some other (system) header file includes random on linux, but doesn't on mac. So you get it indirectly on the linux platforms, but on mac it fails.

[2016-12-01 23:44] sayerhs commented on #21
Thanks. I'll add the include line and submit a pull request.

[2016-12-02 18:15] spdomin commented on #21
My Mac builds have been tabled due to a Trilinos configure issue,

https://github.com/trilinos/Trilinos/issues/882

Have you been able to config trilinos?

[2016-12-02 18:17] crtrott commented on #21
I actually never build mac.

[2016-12-02 18:19] spdomin commented on #4
I talked with a fellow team member and I have four designs on the table. My latest one above, I am not happy with. I really do not like this notion of a "max" floating around. I think that this design will punish us when we have mixed orders as the low order kernels will take as large of a memory footprint at the higher order. I need @crtrott to educate me on cache so that I can feel better about

[2016-12-02 20:04] srajama1 commented on #4
@spdomin May be this is a silly question: Are you thinking of multiple dimensional Kokkos views and switching layouts ? It looks like how the vectors in the geometry portion above is accessed you could easily run into Array-of-structures vs structure-of-arrays issues in different architectures. That said I don't know much about how STK or other portion can handle switching layouts well.

[2016-12-02 21:18] jrood-nrel commented on #32
I joined the stand-up late and it sounded like the time was taken up by other topics so I didn't want to make the call go long, so maybe we can discuss this in another stand-up. Sorry about that.

Anyway, I have some documentation at https://github.com/jrood-nrel/NaluSpack that describes my process for installing Nalu with Spack on NREL's Peregrine machine. These instructions should be quite relev

[2016-12-02 21:36] sayerhs commented on #21
@spdomin I have not seen the issue you describe in the Trilinos bug report. I am using the `master` branch with

[code]

Are you on `develop` branch by any chance? The last commit on my Trilinos pull is on Nov 9.

[2016-12-02 22:40] spdomin commented on #4
@srajama1, yes the plan is to transition from dynamic std::vector resize to something smarter. Once that is done, I will swap out directly to kokkos views and use the MDArray path. After that, it is changing to the algorithms to use teams, etc., i.e., full in Kokkos.

[2016-12-03 15:40] spdomin commented on #32
@jrood-nrel, if you are up to it, let's have you drive a parking lot discussion on using Spack for a sample build. Let's make sure that you are able to share your screen...

[2016-12-03 16:22] aprokop commented on #32
@spdomin Good idea, I'd like to participate in that.

[2016-12-03 18:32] spdomin commented on #2
I am opening this back up until we can have a clean Trilinos configure without including the Epetra solver stack.

[2016-12-05 16:41] jrood-nrel commented on #32
@spdomin @aprokop Sure, I think it would be helpful to give a live tutorial on using Spack in general first and then I can have a video prepared of the entire process I use to build Nalu where I can cut out the build times. Maybe 20 minutes in total?

[2016-12-06 18:40] spdomin commented on #32
I may not have 20 minutes at the next stand-up. Perhaps a dedicated meeting might be in order? We can chat about it at the next stand-up.

[2016-12-06 18:49] jrood-nrel commented on #32
No stress. I have something prepared whenever it makes sense to go over it and we can talk about it at the stand-up.

[2016-12-06 19:53] aprokop commented on #32
I had a brief chat with a few local folks managing Titan and their experiences with Spack. In summary: it's complicated due to different machines having different custom Cray environments. They have some code that has not been pushed to mainline yet. But the good news is that we have local resources (at least in ORNL) to help if we want to run on Titan/Summit using Spack.

[2016-12-08 19:24] aprokop commented on #32
My docker scripts and Spack configs are now available [here](https://github.com/aprokop/nalu_docker).

[2016-12-09 16:22] spdomin commented on #29
I need this to be reassigned....

[2016-12-09 19:54] sayerhs commented on #29
Stefan,

Mike asked me if I could look into this one. Can you confirm that this task is still open?

I started with `femHC` and the restart worked correctly on it. Then I moved to `steadyTaylorVortex` and I am starting to see differences. Before I started digging into this case, I wanted to check to see if there was an intermediate (simpler?) case that might make sense to check before tackling `st

[2016-12-09 20:25] spdomin commented on #29
Awesome.. Please do take this on! The steadyTaylorVortex is probably the simplest case around; 2D and only uv_p - all inflow bcs. Moreover, fixed time step and first order time integration.

I would concentrate on that test case..

[2016-12-09 21:35] sayerhs commented on #29
OK. Just saw this, but some updates with `steadyTaylorVortex`. I found that the differences are arising from the `ProjectedNodalGradientEquationSystem` fields not being in the restart file. By using `realm_.augment_restart_variable_list` on `dofName_` and `deltaName_`. The restart differences reduce to `4e-16` in the Mean System Norm.

Following this up with a modification in `LowMachEquationSyste

[2016-12-12 01:40] spdomin commented on #29
dpdx is, in fact, required within the first momentum solve. I thought, however, that as an initialization "step", we process dpdx...

[code]
The above code means that by the time we process the first momentum solve, dpdx should be correct whether or not we provided it within the restart.

So, there is a mystery here... At the very least, we should never need the delta in the restart...

[2016-12-12 22:48] aprokop commented on #43
@spdomin Could you please elaborate on the ticket? I'd like to work on it but need more context.

[2016-12-14 22:07] spdomin commented on #43
We should probably talk at the next stand-up then. The basic sliding mesh includes column entries of the opposing element for the DG contribution. If we remove those entries, the matrix structure does not change. However, this will come at the expense of more continuity iterations as noted above. I would go to the AssembleContinuityNonConformal algorithm and modify the connected nodes keeping only

[2016-12-14 22:10] spdomin opened #49 "ECP 5(c) Generalize mesh motion"
Relax the requirement to have sliding mesh simulations in the x-direction for 3D.

Also allow for a clean interface between 2D and 3D.

I will handle the code based on the formula provided by @gantech

[2016-12-15 22:23] sayerhs commented on #29
@spdomin Question: Will the following code update copy over a field everywhere (i.e., on interior nodes as well as boundary nodes)? I am calling this method after the call for `computeMdotAlgDriver_`, but still see some discrepancy in the computed `mass_flow_rate` ( on the order of ~1e-11) when compared to the baseline. I see a `CopyFieldAlgorithm` class, but I am unsure that is applicable here. T

[2016-12-15 22:31] spdomin commented on #29
Yes, this is a good bucket loop that will copy dpdx to dpdx_restart at all nodes. However, you probably want to use the field function call,

`  field_copy(realm_.meta_data(), realm_.bulk_data(), dpdx_, dpdxRst_, realm_.get_activate_aura());`

As for other nuances, we may need the same procedure with the velocity field since reconstructing dot requires the velocity field that has not yet been proj

[2016-12-15 22:47] spdomin commented on #49
Just a FYI @NaluCFD/core as my generalized rotation work, which I just pused with support from @gantech, caused minor diffs in a few of the rotating sliding mesh sims.

[2016-12-16 19:25] jrood-nrel opened #50 "ECP 2: Stand-up code repository and software build system and test harness"
Activities:

  1. Create draft software design document, including code requirements around building, testing, and documentation.
  2. Establish a public-facing code repository.
  3. Choose and implement build system and testing harness on dedicated testing cluster for nightly building and testing.

[2016-12-16 19:32] jrood-nrel commented on #50
So I think this will be mostly my responsibility going forward on the NREL side. For number 1 I'm not sure what we already have, but I can work to consolidate it. For number 2, I think I'm looking right at it, so that one is done. For number 3, we know I am working to automate the build as much as I can with Spack, and Marc has already implemented CDash that we will expand upon.

To expand upon wh

[2016-12-19 15:43] alanw0 commented on #29
I hadn't previously noticed that nalu had its own field_copy function. I was about to reply and recommend using stk's field_copy function. There is a subtle difference though: Nalu's function takes a 'auraIsActive' flag, which if false, causes the field to not be copied for ghosted entities. (Including custom-ghosted entities.) I'm not sure if this is intended or desired behavior, but it could res

[2016-12-19 15:51] alanw0 commented on #29
I just replied to the stk help ticket regarding edge fields in restart. I added Greg Sjaardema to the cc list for the ticket, and asked him whether edges can be written to an exodus file for a 3D mesh. If they can, then supporting field output for those edges will probably be pretty easy. If they can't, then it will be harder.

[2016-12-19 16:44] spdomin commented on #29
I am not sure if this code belongs part of this ticket or now, however, for completeness, this is the selector logic in our FieldFunctions class:

[code]
The intent of the FieldFunction copy is to not concern itself with ghosted entities through custom ghosting - at least that was my recollection on the design. However, at present I am not sure why I was concerned over the aura aspect of field fun

[2016-12-19 18:34] spdomin commented on #29
I see the point about universal not being required here...

Part of the complexity with the core Nalu algorithm is that it looks like a mix between Jacobi and gauss-seidel updates. As such, its always user beware. I think that these field update methods were really targeting the linear system updates. These are good comments though and I will take a second look at the core design..

[2017-01-03 21:48] mbarone81 opened #53 "A2e Task: Moeng surface shear stress boundary condition"
@sayerhs @mchurchf : This issue tracks progress on the Moeng surface stress boundary condition.

[2017-01-03 21:50] sayerhs opened #54 "ABL Forcing Source Term Implementation"
Implement momentum and temperature source terms to drive ABL simulations to a desired velocity and temperature profile as a function of height and time.

cc: @mbarone81, @mchurchf

[2017-01-04 16:01] gantech opened #55 "ECP 3: Demonstrate single blade-resolved simulation in non-rotating turbulent inflow"

[2017-01-04 16:06] gantech commented on #55
I've been working on this from the later half of December 2016. I have had discussions with Scott Schreck at NREL to choose the validation dataset. He recommended the NREL-VI experiments, specifically the parked rotor dataset. I have been able to get a CAD model from him and build a grid around it. Will send a detailed write up of all the info I have on it along with a plan to reach the milestone

[2017-01-04 21:47] spdomin commented on #49
This looks done. We can re-open when we have more complex use cases. However, now we have an arbitrary flow direction capability via:

[code]

along with the reference to the wall bc as follows:

[code]

[2017-01-04 21:47] #49 closed

[2017-01-04 21:54] spdomin commented on #5
Latest push by @alanw0 provides the following differences:

First, the quantity of ghosting has gone down:

Old:

`NonConformal alg will ghost a number of entities: 5285506`

New:

`NonConformal alg will ghost a new number of entities: 1242 and remove 12461 entities from ghosting.
`
Timing also improved (see push):

https://github.com/NaluCFD/Nalu/commit/4cca5bae07624abdaf356063dd07d301473eecd8

[2017-01-07 04:03] spdomin opened #57 "General code clean-up tasks"
Any opportunity for miscellaneous code clean-up.

[2017-01-07 04:13] spdomin commented on #57
Manage classes for NSO via new /nso directory. @NaluCFD/core, this will require a new config should anyone pull.

commit 691f4a307f0e2ef867453a31bdfb8fef1171efea

[2017-01-07 04:14] #57 closed

[2017-01-10 15:13] spdomin opened #58 "ECP 5(c) Overset path forward with mesh movement"
For the next quarter, let's move forward with the following distribution of work (subject to negotiation):

- @mbarone81 is exploring hole cutting algorithms and procedures to decide if Nalu should manage this or a TPL.

- @spdomin is exploring the interior penalty methodology to remove the constraint aspect of the overset problem that degrades accuracy and is problematic for low-Mach implicit PPE

[2017-01-10 15:32] alanw0 commented on #58
I'm not directly involved in this deliverable, but @skennon10 don't hesitate to let me know if you need any help or consulting regarding stk issues.

[2017-01-11 18:07] spdomin commented on #43
Attached are some preliminary overset and sliding mesh work when dropping Jacobian (LHS sensitivities)
[slidingOversetMeshStencil.pdf](https://github.com/NaluCFD/Nalu/files/699687/slidingOversetMeshStencil.pdf)
.

[2017-01-12 22:17] spdomin commented on #58
Attached is a MMS study using the basic constraint-based approach.

[oversetMMS.pdf](https://github.com/NaluCFD/Nalu/files/703028/oversetMMS.pdf)

Also, I would appreciate the team iterating through the above set of activities before we go off and perform the work. I fear that the full list of activities may be too much to tackle.

[2017-01-27 15:05] spdomin commented on #4
@NaluCFD/ngp, see the below discussion points..

Greetings,

Yesterday, Robert and I met with our TF team to discuss the manner in which Fuego is pursuing NGP transition. In Fuego, I originally wrote algorithm interfaces to the Sierra Frameworks. In short, these "workset algorithms" were “homogeneous”. This design pattern persists today and essentially follows the “alt” design that I capture in ou

[2017-01-30 23:54] spdomin commented on #4
I am about to push the new consolidated ElemSolverAlgorithm design. At present, I have both FEM and CVFEM scalar diffusion working (verified to be second order) using a 3D MMS (also a supplemental all design).

I will start folding in the work Alan is prototyping on how to elevate gathers/scatters/etc so that the SuppAlgs are not autonomous in duplication of work. Next, I will add the templated Al

[2017-02-03 21:56] spdomin commented on #4
Adding templating: 90e1699

[2017-02-06 15:59] spdomin commented on #4
With Alan's sharing of data, here are the times for my cylinder case:

        assemble --   	avg: 653.366 	min: 646.362 	max: 656.972

[2017-02-06 16:14] crtrott commented on #4
Thats great (I mean the fact that we are not killing performance yet ;-) )

[2017-02-06 16:16] spdomin commented on #4
Right... And the new ElemSolverAlgorithm already has the team structure embedded within it. Also, I failed to note that the above last case used full Kokkos MD views for everything other than RHS/LHS. On that side, we plan on proceeding with a 2D array that we index into for higher dimensions. This approach feels like the correct balance..

[2017-02-06 18:34] spdomin opened #64 "ECP 4(a) ScratchView interface change"
#4

A few notes on the templated SuppAlgs and ScratchView interface:

1. code does not build in debug (somewhat related):

[code]
       m_field_states[i] = field_states[i];

2. We also gather tensor quantities, e.g., duidxj via the following interface

[code]
3. Let's avoid a call signature to fill_prereq_data including meSCS, meSCV, meFEM and later meFC, etc., by calls that add the master elemen

[2017-02-06 18:54] alanw0 commented on #64
@spdomin what other details can you give me about the "may be used uninitialized" compile warning above? i.e., What compiler and/or stk version is producing this? I know you sent an email to the stk team about this recently but I don't think anyone was able to reproduce it.

[2017-02-06 20:22] spdomin commented on #64
I added the detail to the formal ticket now under our internal management. All I can think is the -Wall through out the entire code build? I think our internal system allows for dialing in such options between the code and TPL. However, if you look at the code, it looks uninitialized (possibly) regardless of whether or not there is a compile warning.

[2017-02-07 04:34] jhux2 opened #66 "Files MeshMotion.h and nso/* missing?"
My build of the current master version of Nalu 97f4040d fails with errors like:

[code]
and
[code]

Are these files intended to be part of Nalu?

@spdomin @NaluCFD/core

[2017-02-07 04:37] jhux2 commented on #66
Never mind, user error.  I had an old repo that still pointed to the spdomin/nalu location.

[2017-02-07 04:37] #66 closed

[2017-02-07 16:54] spdomin commented on #64
This may also be bad for hybrid mesh sims:

[code]

[2017-02-08 16:52] sayerhs opened #68 "MasterElementHexSerial.hex8_* tests segfaults on OSX/LLVM"
When running unit_tests, the MasterElementHexSerial tests segfault on OSX/LLVM compiler

[code]

[2017-02-13 23:31] jhux2 opened #73 "Linear system imbalance in ABL strong-scaling simulations"
@spdomin @alanw0 @aprokop @mbarone81
In looking at the ABL strong scaling simulations on 256, 512, and 1024 cores, we have observed that the linear system passed into MueLu becomes more imbalanced as the core count grows.  (See data below).  This will very likely affect communication in the preconditioner setup.

I have some initial questions:

- How is the distribution of the fine grid matrix det

[2017-02-13 23:46] aprokop commented on #73
The imbalance is actually quite severe on high core counts. If you look at the following line for 1024 cores
[code]
it means that there are two processor with one having 35% more rows and  54% more nonzeros than the other.

[2017-02-14 01:08] jhux2 commented on #73
It appears that the decomposition is controlled by IOSS (see ```Trilinos/packages/seacas/libraries/ioss/src/main/shell_interface.C```).  There are quite a few options there besides rcb, which is what was used for the stats I posted.

[2017-02-14 02:03] jhux2 commented on #73
I've tried different options for  ```automatic_decomposition_type``` for the 1024 core case.  Here are the results.  Note that ```rib``` gives a linear system imbalance in rows and nonzeros of 6% and 28%, respectively.

### 1024 core, ```rib``` decomposition
[code]
### 1024 case, ```hsfc``` decomposition
[code]

Options ```cyclic```, ```block```, ```random```, and ```linear``` resulted in terrible

[2017-02-14 02:30] aprokop commented on #73
@jhux2 Did you run `rib` to completion? If yes, how does it compare timing wise?

[2017-02-14 04:42] mbarone81 commented on #73
I am looking into the mesh decomposition for these cases.

[2017-02-14 15:34] alanw0 commented on #73
In the cases I've looked at in nalu, the element balance has been perfect, and the node balance is the issue. The node balance is what determines the linear system distribution. Currently stk-mesh doesn't do a great job of choosing processor-owners for the nodes that are shared by multiple procs (MPI ranks). The STK team has Karen Devine working on some improved load-balancing approaches that will

[2017-02-14 15:40] mbarone81 commented on #73
Wouldn't the node imbalance affect the momentum equation system as well?  We observed near-ideal strong scaling for the momentum solve.

[2017-02-14 15:43] alanw0 commented on #73
Yes I would have expected the momentum equation system to be affected just as much...

[2017-02-14 16:55] mbarone81 commented on #73
@jhux2, is it possible to extract number of rows and nnz for the momentum system as well in order to compare to the continuity linear system?

[2017-02-14 17:05] aprokop commented on #73
@mbarone81 The statistics are currently coming from MueLu. I could port the code implementing it to Nalu's LinearSystem.C to use for momentum.

[2017-02-14 17:52] jhux2 commented on #73
I am rerunning with MueLu output completely off to get clean numbers.

[2017-02-14 20:02] spdomin commented on #73
Nice discussion... In the end, it's what @alanw0 said in that the current rule for node ownership in STK is lowest rank. There have been a simple change in STK to make the local ownership be random in order to allow for a more balanced set of nodes, and, therefore, matrix rows. We also have real load balancing capability in STK, so we could try something like that.

Finally, the aura-based assembl

[2017-02-14 23:52] jhux2 commented on #73
```rib``` mesh decomposition yields a modest improvement in setup and solve performance at 512 cores, but none at 1024 cores.

![rcb-vs-rib](https://cloud.githubusercontent.com/assets/12970120/22954793/56139b98-f2cd-11e6-9f8f-e852352d4cc4.png)

[2017-02-15 14:19] spdomin commented on #73
@jhux2, @rcknaus provided @mbarone81 a nodal load balance patch that has been used in our internal codes before. This patch removes the underlying rule of lower rank wins local nodal ownership. For hybrid meshes, this load balance is worse and was shown to do very well with re-balancing.

[2017-02-15 15:23] mbarone81 commented on #73
@jhux2, which mesh did you use for the results reported in this thread?

[2017-02-15 16:59] jhux2 commented on #73
@mbarone81 All of the results in this thread are based on the mesh file  ```abl_3km_128.g```.

[2017-02-15 17:08] mbarone81 commented on #73
OK..I have the aforementioned node-balancing patch, with additional balancing info reported in the log file, integrated into Nalu. I will re-rerun some of the ABL cases and assess the effect this has on timings.

[2017-02-16 05:07] mbarone81 commented on #21
Any ideas on what is happening here?  This is for a Trilinos build on the Cray cori machine.  I have built trilinos and 'make install' results in:

CMake Error at packages/seacas/libraries/ioss/src/main/cmake_install.cmake:56 (file):
  file RPATH_CHANGE could not write new RPATH:

    /project/projectdirs/m2593/scratch_build/install/trilinos/lib

  to the file:

    /project/projectdirs/m2593/scra

[2017-02-16 15:10] jhux2 commented on #21
@mbarone81 Try adding this to your configure:

-DCMAKE_SKIP_INSTALL_RPATH=TRUE

I found this reported [here](https://github.com/trilinos/Trilinos/issues/846#issuecomment-264567505).

[2017-02-16 16:56] mbarone81 commented on #21
@jhux2 Thank you, that resolved the issue.

[2017-02-16 18:28] spdomin commented on #21
Is this only for "exotic" builds? I have not seen this issue on Mac, Intel (Serrano) or gcc.

@sayerhs, I missed that error you reported on the Mac, however, recently, just added the <random? include for that reason..

[2017-02-16 18:30] mbarone81 commented on #21
If exotic=Cray then I think yes.  The Trilinos issue that was tracking this was related to a build on Edison, another Cray machine.

[2017-02-17 14:26] spdomin commented on #73
Let's not forget that if this case is still using periodic bcs (double periodicity) then one of the opposing surfaces (for each periodic pair) will own the periodic rows. Moreover, corner nodes may also have more work on them due to the reconciliation of M/S pairs.

Recall the simple one-D STK global ID:

`0-------1--------2--------3
`
and the mapping to NaluID - which is what the linear system se

[2017-02-21 22:01] spdomin opened #74 "Matrix row size guess is set at 8; may be too small for many use cases"
Initial guess at row size is set at 8 even though we can support CVFEM 3x3 momentum:

`globallyOwnedGraph_ = Teuchos::rcp(new LinSys::Graph(globallyOwnedRowsMap_, ownedPlusGloballyOwnedRowsMap_, 8));`

We should set that final number based on the local and shared row map to get the size of the stencil 100% correct.

[2017-02-21 22:06] spdomin opened #75 "ECP 4(b) sumInto() through Kokkos matrix in prep for Tpetra changes"
Re-factor sumInto() within TpetraLinearSystem().

[2017-02-21 22:53] mhoemmen commented on #74
The idea we discussed is that the code already loops through the whole mesh, so it could just count the number of entries in each row of the graph and have an exact number per row.  The first-pass improvement would be to use CrsGraph's StaticProfile constructor with an array of the number of entries in each row.  However, see https://github.com/trilinos/Trilinos/issues/119 .  The better improvemen

[2017-02-23 01:29] spdomin commented on #74
Agreed. We plan on pursuing the above approach in #74. Depending on the time frame, it may be better to simply do that and not worry about this ticket. Volunteers?

[2017-02-23 04:19] mhoemmen commented on #74
I'll be happy to help guide the process.  I just still have a lot to learn about how one iterates over meshes in these codes, so I might not be as effective actually doing the typing just yet ;-)

The "CrsGraph with StaticProfile" approach (count first, create CrsGraph with StaticProfile and the exact count for each row, then construct the graph as you currently do) would likely give immediate spe

[2017-02-23 04:41] alanw0 commented on #74
Mark, I have Christian's prototype of kokkos-based graph construction from last year, which I've updated so it passes current tests. Perhaps you and I can get together and talk about the details of putting in the static-profile approach and the kokkos-based construction. We could look through the code and see how Christian's changes would interact (if at all) with the static-profile changes, and d

[2017-02-23 16:17] alanw0 commented on #74
I just did a little more perusing of the graph-building approach in nalu's TpetraLinearSystem.C. It's not quite as trivial as we thought to replace the '8' with a list of row-lengths. I'll put together a ppt slide or two describing the sequence of operations involved in our graph-construction. I don't think the change will be too bad, but may require a little more code rearranging than we first th

[2017-02-23 17:12] mhoemmen commented on #74
Thanks @alanw0 for the slides!  I'll take a look.

[2017-02-23 18:26] spdomin commented on #74
@alanw0, yes:) I looked at the code today and came to the same conclusion on the static graph.

[2017-02-23 18:27] spdomin commented on #75
Transition to Jira.

[2017-02-23 18:27] #75 closed

[2017-02-23 18:27] spdomin commented on #64
Transition to Jira.

[2017-02-23 18:27] #64 closed

[2017-02-23 18:27] spdomin commented on #58
Transition to Jira.

[2017-02-23 18:27] #58 closed

[2017-02-23 18:28] spdomin commented on #55
Transition to Jira.

[2017-02-23 18:28] #55 closed

[2017-02-23 18:28] spdomin commented on #43
Transition to Jira.

[2017-02-23 18:28] #43 closed

[2017-02-23 18:28] spdomin commented on #24
Transition to Jira.

[2017-02-23 18:28] #24 closed

[2017-02-23 18:28] spdomin commented on #10
Transition to Jira.

[2017-02-23 18:28] #10 closed

[2017-02-23 18:28] spdomin commented on #9
Transition to Jira.

[2017-02-23 18:28] #9 closed

[2017-02-23 18:29] spdomin commented on #4
Transition to Jira.

[2017-02-23 18:29] #4 closed

[2017-02-23 18:29] spdomin commented on #35
Transition to Jira.

[2017-02-23 18:29] #35 closed

[2017-02-23 18:29] spdomin commented on #8
Transition to Jira.

[2017-02-23 18:29] #8 closed

[2017-02-23 18:29] spdomin commented on #7
Transition to Jira.

[2017-02-23 18:29] #7 closed

[2017-02-23 18:29] spdomin commented on #6
Transition to Jira.

[2017-02-23 18:29] #6 closed

[2017-02-23 18:30] spdomin commented on #5
Transition to Jira.

[2017-02-23 18:30] #5 closed

[2017-02-23 18:30] spdomin commented on #3
Transition to Jira.

[2017-02-23 18:30] #3 closed

[2017-02-23 18:31] spdomin commented on #2
Builds of Trilinos are now free of Epetra stack.

[2017-02-23 18:31] #2 closed

[2017-02-23 18:31] spdomin commented on #11
NaluUnit is operational now.

NaluSandbox is ready for play.

[2017-02-23 18:31] #11 closed

[2017-02-23 18:32] spdomin commented on #1
Task completed.

[2017-02-23 18:32] #1 closed

[2017-02-23 18:36] sayerhs commented on #54
Implemented in pull request #77 with commit 74c04a2

[2017-02-23 18:36] #54 closed

[2017-02-23 18:36] spdomin commented on #50
Move to Jira.

[2017-02-23 18:36] #50 closed

[2017-02-23 18:37] spdomin commented on #73
Transition to Jira.

[2017-02-23 18:37] #73 closed

[2017-02-23 18:39] spdomin commented on #74
@sayerhs and @michaelasprague, please make sure that this ticket was captured in Jira. It is related to ECP FY17Q4

[2017-02-23 18:39] #74 closed

[2017-02-27 14:19] michaelasprague commented on #32
@aprokop @jrood-nrel Can we close this issue, given both your efforts and the current status of the Spack implementation?

[2017-02-27 16:33] jrood-nrel commented on #32
That's fine with me.

[2017-02-27 16:36] #32 closed

[2017-03-07 03:59] spdomin opened #84 "Consolidated approach for momentum when hybrid meshes are in use is wrong"
I let this one slip... 'should have been more careful in the review.

Basically, the bug is that the consolidated approach logic is only hit when the first interior algorithm type is found.  However, for a hybrid mesh, this does not work. The logic needs to be either consolidated or not. Then, for each part pushed in, the code needs to check the map for the topology if interest. The major complexi

[2017-03-07 13:09] sayerhs commented on #84
@spdomin I see that the way the if-conditions are set up, the new consolidated alg does not build additional SuppAlg instances for multiple topos. I have a potential fix for this in sayerhs/Nalu@efc5d08ef08ddf . I think this should resolve the issue for both non-consolidated and consolidated Alg setups. Can you share your failing test case with me, so that I can test this and make additional fixes

[2017-03-07 13:39] spdomin commented on #84
My failing test is the dgNonConformalThreeBlade test that includes bug fixes in ContMass and a newly converted NSO KE flavor. We need to find a test that uses hybrid with one of the suite of SuppAlgs converted. The cylinder in cross flow might be one, however, that probably is using edges.

[2017-03-07 17:11] spdomin opened #87 "Removal of SuperLU from Trilinos config and build results in poor Continuity solves"
Removing SuperLu from Trilinos configurations results in widespread Rtest failure with notable increase in Muelu iterations.

Can we make sure that all is well when we remove SuperLU?

[2017-03-07 17:14] srajama1 commented on #87
@jhux2 : I believe you were going to check this first. Let me know if I can help.

[2017-03-07 17:19] jhux2 commented on #87
@srajama1 Yes, I will.

[2017-03-07 21:41] spdomin opened #89 "Periodic + DG/Overset in one simulation (assuming non-interacting nodes)"
dofStatus throws when periodic and overset/DG is active even though the nodes may not be painted with both types.

Allowing for a full pitching/plunging with DG/overset and periodic may be hard without a major refactor, however, we should take a look t see if dofStatus can be changed to support and ABL-like simulation with internal contact surfaces.

1. Evaluate dofStatus changes under the assumpt

[2017-03-08 17:00] spdomin commented on #89
I looked at this code today. It looks like to me that we can easily move forward in supporting this intermediate use case.

What is the required timeline for this fix?

[2017-03-08 17:13] mbarone81 commented on #89
Relative to the ABL testing with nested mesh, there are workarounds and so this fix is not on a critical path.

[2017-03-15 17:51] spdomin commented on #40
Intel is failing due to the recent HO promotion:

http://my.cdash.org/viewBuildError.php?buildid=1154145

@rcknaus has been notified.

[2017-03-16 17:11] spdomin commented on #21
My intel 17 builds are working with the HACK -restrict addition.

However, intel 16 is failing:

[ 17%] Building CXX object CMakeFiles/nalu.dir/src/element_promotion/PromotedPartHelper.C.o
[ 17%] Building CXX object CMakeFiles/nalu.dir/src/element_promotion/QuadNElementDescription.C.o
[ 18%] Building CXX object CMakeFiles/nalu.dir/src/element_promotion/QuadratureKernels.C.o
[ 18%] Building CXX obj

[2017-03-16 17:29] jrood-nrel commented on #21
@rcknaus @spdomin  Ah my Intel build uses `-DCMAKE_CXX_FLAGS=-restrict` when I build with Spack, but I haven't added that flag to the CTest configure. Let me add this compiler-based logic into CTest and see if that will resolve it.

[2017-03-16 18:46] rcknaus commented on #21
@spdomin  I added an include for std::array.  The warning is from an STK header file, so it'll be there until STK is updated in Trilinos.

[2017-03-16 20:14] spdomin commented on #21
@alanw0, can you look a fixing the STK warning above?

[2017-03-16 20:26] alanw0 commented on #21
@spdomin yes I'll take a look.

[2017-03-16 20:30] alanw0 commented on #21
@spdomin it has been fixed in sierra's version of stk, hopefully will be updated into Trilinos soon. I have seen email traffic from Brent working on doing the update.

[2017-03-29 19:48] spdomin commented on #14
@NaluCFD/core, a new version of STK has just been pushed to Trilinos develop. I think that there have been a couple of API changes in STK that will break the current NaluCFD master code base. After the nightly tests run tonight (or fail) I will push something tomorrow. At that point, we will all need to update Trilinos.

[2017-03-29 19:51] alanw0 commented on #14
@spdomin if any code-changes required by the API changes are not obvious, shoot me an email and I'll let you know what it means or what needs to be done. I'm not aware of anything major...

[2017-03-30 22:20] spdomin commented on #14
@alanw0, we have issues in the promotion of the low to high order scheme. Specifically, issues of bulkData being const and the new one about protected:

In file included from /home/spdomin/gitHubWork/scratch_build/install/gcc4.8.5/Trilinos_stable_release/include/stk_mesh/base/FieldBase.hpp:40:0,
                 from /home/spdomin/gitHubWork/Nalu/include/element_promotion/PromoteElement.h:10,

[2017-03-30 22:49] alanw0 commented on #14
For declare_entity, there is a public one that takes a part vector as the last argument. So just pass an empty one like this: stk::mesh::PartVector{}.

For the const issue, I think think you can make the  nalu class constructor take bulkdata as nonconst, and call generate_new_ids on that, but the nalu class can still store a const reference to the bulkdata for use in other places.

On Mar 30, 2017

[2017-04-17 16:44] spdomin opened #110 "get_if_present() seems off..."
A nightly test is failing due to the fact that the following line:

`get_if_present(node, "output_frequency", outputFreq_);`

returns outputFreq_ as 0 rather than what it has been specified to be in the constructor (10).

The get_if_present() method seems to be off in that it is returning a value of outputFreq_ that is based on some default if not present...

@sayerhs has a recent code commit that

[2017-04-17 22:06] gantech commented on #110
This line is present in ABLForcing.C, OutputInfo.C and DataProbePostProcessing.C. I haven't committed to any of them recently. Which nightly test?

[2017-04-17 22:25] sayerhs commented on #110
Please see pull request #112. This was a misinterpretation at my end on how `get_if_present` works. I have fixed the usage in `src/ABLForcing.C`

[2017-04-18 14:28] spdomin commented on #110
I still think that the method may still be confusing. As noted above, all of my usage of this method matches what your pull request now does. However, after review of the name and functionality, I wonder if there is a better API that would reduce future mistakes.

I might thing that a method named "get_if_present" would simply set the value of the parameter if it was present and do nothing if it w

[2017-04-18 14:31] sayerhs commented on #110
@spdomin I agree with your statement. `get_if_present` should not require us to send variable twice. It is clearer if `get_if_present` behaved like `get_if_present_no_default` and we had a `get_or_set_default` that did what `get_if_present` is doing.

[2017-04-18 14:32] gantech commented on #110
Let me look into the yaml interface and figure out if there's a better way. May be we could replace all such instances of `get_if_present`. @spdomin Do you want to create another issue reg. this and assign it to me? Or we could just keep this issue until resolved.

[2017-04-18 16:11] spdomin commented on #110
@gantech, let's keep the current ticket and simply explore whether or not get_if_present() is honest in its description. I have used it for a while without any issues, however, always passed in the parameter twice. It's been a while since I first used the method. That is why the recent experience is useful in defining whether or not the API is clear. If it is, then we can close it out..

[2017-04-21 15:15] spdomin commented on #21
On Intel, I see the following warning:

In file included from /projects/netpub/nalu/NaluCFDSerrano/src/AssembleElemSolverAlgorithm.C(33):
/projects/netpub/nalu/NaluCFDSerrano/include/ScratchViews.h(63): warning #858: type qualifier on return type is meaningless
    inline const int total_bytes() const { return num_bytes_required; }

[2017-04-21 15:16] sayerhs commented on #21
Intel is complaining about `const` for a temporary copy that is returned. Was `const int&` intended?

[2017-04-21 15:19] alanw0 commented on #21
I think it just needs to not say const on the return type. Const does nothing for a return-by-value.

Alan

On Apr 21, 2017, at 9:16 AM, Shreyas Ananthan <notifications@github.com<mailto:notifications@github.com>> wrote:

Intel is complaining about const for a temporary copy that is returned. Was const int& intended?

-
You are receiving this because you were mentioned.
Reply to this email directl

[2017-04-22 02:18] jrood-nrel commented on #21
Is this why my intel built binary segfaults now? Because I am baffled at whether or not I am doing anything wrong.

[code]

[2017-04-24 19:38] spdomin commented on #110
I think that we decided that this method is fine and just needs to be used carefully. Closing..

[2017-04-24 19:38] #110 closed

[2017-04-24 19:59] spdomin opened #119 "Does custom ghosting negatively affect matrix assembly?"
If we have aura, XFER or sliding mesh/overset active, custom ghosting will be active.

In the setup phase, we extract the following selector and buckets:

[code]

This means that some ghosted elements/edges, which are a relic of the XFER, sliding/overset, will be included even though they are not formal candidates.

@alanw0 and @skennon10, is this true? Can we add the parts of the mesh in the acti

[2017-04-24 22:23] skennon10 commented on #119
Stefan,

I don't understand the issue - if you're trying to avoid custom ghosted entities in certain parts of the code, can you just select out the ghosted entities there?

  stk::mesh::Selector ghosted = (!locally_owned() & !shared());

 Maybe we can talk about it tomorrow in the parking lot.

-- Steve

________________________________
From: Stefan P. Domino <notifications@github.com>
Sent: Monda

[2017-04-24 23:00] spdomin commented on #84
This is closed...

[2017-04-24 23:00] #84 closed

[2017-04-24 23:03] spdomin commented on #119
Well, in cases such as overset, sliding mesh, or periodic, we actually want the contributions from ghosted entities.

What I am asking is if we have ghosted elements from, e.g., an XFER, those ghosted elements are still served up to the setupLinSys method. I guess I am asking if we think this is an issue.

Let's talk about it tomorrow.

[2017-04-24 23:47] spdomin opened #120 "Clarity in matrix reuse/recompute options"
Recent questions regarding the reuse and recompute options for matrix management in Nalu have been raised.

In general, this option is germane to the continuity system. The low-Mach PPE solved is as follows:

D tau G delta_p = -res

tau is a time scale and D and G are the divergence and gradient operator; res above might include a mass matrix, M(rho). In the case of a time step scaling, tau = dt.

[2017-04-26 15:24] alanw0 commented on #119
I'm not sure whether including the ghosted entities is an issue, but if you need help selecting or excluding certain entities, I can help. Each 'ghosting' has an associated part, so we could select or exclude entities from any particular ghosting and not others, assuming that a different ghosting is used for xfer vs overset, etc.

[2017-04-26 19:45] spdomin commented on #119
Yes, I think (at the very least) that it may be useful to exclude XFER. In the sliding mesh scheme, I think that we already prune candidate elements that did not turn out to be required in the core algorithm. The same methodology would need to be deployed for overset and periodic. If we did that, then these algorithms would always have a custom ghosting list that was "true".

[2017-04-27 13:22] #68 closed

[2017-05-02 20:35] spdomin commented on #120
With the above theoretical description, conformation from @sthomas61 that reuse and recompute is working as expected for mesh motion (sliding mesh/overset) and the elemClosedDomain working as expected with the "reuse" option, I am closing this ticket.

[2017-05-02 20:35] #120 closed

[2017-05-17 00:17] spdomin commented on #14
@sayerhs @rcknaus @jrood-nrel there is a new diff in the repos. You three are the only team members who touched code in the past three days. I need someone to perform a bisect.

There is a possibility that this is due to the Trilinos code base and possibly a false positive - not sure.

14/66 Test #46: nonIsoNonUniformElemOpenJet ......***Failed   73.84 sec
..nonIsoNonUniformElemOpenJet...........

[2017-05-17 15:37] mbarone81 opened #127 "Support for pyramid elements on an exposed boundary"
Nalu does not currently support pyramid elements on an exposed boundary.  The master element code does not define exposed face integration point node maps, for example.  This causes a runtime error when a boundary condition algorithm requests these maps.  @spdomin and I discussed defining the boundary ip node map for pyramids, thereby allowing a pyramid to sit on a symmetry boundary.  However, the

[2017-05-17 16:26] spdomin commented on #127
Yes, feel free to add ipNodeMap and face_grad_op. This will allow all flux BCs to work WITH EXCEPTION of the DG scheme. If you want that working, we will need to implement the general_face_grad_op and mappings between side IPs and volume IPs.

[2017-05-17 21:08] mbarone81 commented on #127
@spdomin I do not see shifted exposed face points defined for any of the elements in MasterElement.C.  I see intgLoc_ and intgLocShift_ for internal element ip's.  I see intgExpFace_ but no intgExpFaceShift_.

[2017-05-18 17:06] mbarone81 commented on #127
Looks like I have the code working for a duct with pyramids at all 6 boundaries, with inflow, open, symmetry, and wall all exercised.
![ductpyr](https://cloud.githubusercontent.com/assets/6090175/26214562/0eaf1da0-3bba-11e7-9866-1baedb1b0bd2.png)

[2017-05-18 23:19] spdomin commented on #127
Looks good. We need to ask the Trilinos team for an STK update. Also, I can get you that 2x1 verification test.

[2017-05-23 20:42] mbarone81 commented on #127
I have created a pull request addressing this issue so I am closing it.

[2017-05-24 00:26] lluisjofre opened #136 "SuperLU_4.3 compilation on Certainty (Stanford)"
When building SuperLU_4.3 on Certainty (Stanford), in addition to copying the src files to the install directory, I had to also copy the lib files:  cp lib/* $nalu_build_dir/install/SuperLU_4.3/lib

All the other builds went perfectly. Thanks for the detailed instructions.

Lluis

[2017-05-24 14:04] spdomin commented on #136
Great to hear. The plan is to deprecate SuperLU usage. We are waiting on @jhux2 to resolve some strange behavior when we moved in this direction.

[2017-05-24 14:04] #136 closed

[2017-05-24 21:14] spdomin commented on #89
@skennon10 and I sat down and both are on the same page wrt to the following push:

https://github.com/NaluCFD/Nalu/commit/e146fc4d73d7d96af174375dd86523a10e8f1825

This issue is now resolved; a test is being added soon.

[2017-05-24 21:14] #89 closed

[2017-05-24 21:15] spdomin commented on #127
We have a new use case in which pyramids are required at DG interfaces.

@rcknaus, @mbarone81 or @spdomin, let's negotiate:) Anyone working today or tomorrow has first dibs as I would like to launch my full-up tower simulation very soon.

[2017-05-24 21:24] #127 closed

[2017-05-24 21:30] spdomin opened #138 "Deploy full Pyramid5 support -"
We have a new use case in which pyramids are required at DG interfaces.

We also need to implement isInElement() for a pyramid for XFERS

@rcknaus, @mbarone81 or @spdomin, let's negotiate:) Anyone working today or tomorrow has first dibs as I would like to launch my full-up tower simulation very soon.

Here is the list:

For DG:

[code]

For XFER:

[code]
I would also like to take the opportunity

[2017-05-24 22:25] mbarone81 commented on #138
I will tackle general_face_grad_op.

[2017-05-24 22:30] rcknaus commented on #138
I'll take isInElement and interpolatePoint.

[2017-05-24 22:45] spdomin commented on #138
Let's fix this kind of stuff everywhere: **REMOVE ME**

[code]

[2017-05-24 22:47] spdomin commented on #138
I will take sidePcoords...

[2017-05-25 01:05] spdomin commented on #138
Just a note...

Neither meCurrentSCS->isInElement() nor meOpposingSCS->isInElement() can be called using the current face Gauss point integration coordinates to determine the current and opposing isoParametric coordinates and used with the general_face_grad_op(). This is due to the fact that the underlying general_face_grad_op calls through to the, e.g., hex_derivatives() which is based on a -1/2

[2017-05-25 14:51] spdomin commented on #138
here is my first take on sideP mapping.. I need to check the ip ordering for the faces.

[code]

[2017-05-25 15:11] mbarone81 commented on #138
Unless I missed something, the pyramid general_face_grad_op method is trivial:

//--------------------------------------------------------------------------
//-------- general_face_grad_op --------------------------------------------
//--------------------------------------------------------------------------
void
PyrSCS::general_face_grad_op(
  const int face_ordinal,
  const double *isoParCoord,

[2017-05-25 16:18] spdomin commented on #138
Yes, it is trivial:) Did you clean up all of those grad copies?

[2017-05-26 13:23] spdomin commented on #138
Okay, STK has been updated and the Pyr5SCS unit test is now failing due to an inconsistency between the Nalu master elements and stk_topo. I have a Trilinos update processing now along with a patch to the PyrSCS elements that I will push ASAP.

@NaluCFD/core - this means you will need to update T past SHA1:

Trilinos/develop SHA1: 9541173a4752545b6c96ba172f368a70144cfc67

[2017-05-26 14:34] spdomin commented on #138
Looking good... I have a temp implementation for general_face_grad_op() in my local branch (will wait on formal push by @mbarone81 )

Below is a tet/pyr DG flow with pyr at the middle of the domain. Using consolidated algs with NSO.

![tetpyrdg_one](https://cloud.githubusercontent.com/assets/8699324/26498915/f229e8b0-41ed-11e7-9dc4-e0e5aca5dbc6.png)
![tetpyrdg_two](https://cloud.githubusercontent.

[2017-06-03 13:24] spdomin commented on #21
The nightly unit tests are failing on Peregrine:

[  FAILED  ] MasterElementSideNodeOrdinals.pyr_side_node_ordinals_are_same_as_stk

This suggests that the update of Trilinos is not taking place.

[2017-06-06 12:47] spdomin opened #143 "Shifted Laplace with consolidated approach is segfaulting"
My production V27 cases are segfaulting on Cori when using the shifted element-based operators with  the consolidated algorithm approach. The segfault occurs at the ContinuityAdvectionElemKernel::execute().

In fact, the same segfault occurs on, e.g., the ductWedge case when I change the simulation to element-based, with consolidated and shifted. The modifications to the ductWedge input file to ac

[2017-06-06 12:50] spdomin commented on #143
Adding @mbarone81 @michaelasprague @marchdf - not to actually assign you the work - but rather to be aware of this possible bug in shifted/consolidated approaches. I think that the first input file I saw from Matt does not activate this combination, however, the plan was to include them at some point.

[2017-06-06 13:59] spdomin commented on #143
Here is the issue:
[code]

[2017-06-06 14:15] spdomin commented on #143
This is my take on how the logic should read..
[shiftedLogic.txt](https://github.com/NaluCFD/Nalu/files/1055274/shiftedLogic.txt)

[2017-06-11 02:07] #143 closed

[2017-06-18 23:26] nmhamster opened #154 "Unable to Build NALU-CFD with Trilinos Configured for OpenMP"
Hi NALU-CFD Team, been trying to get NALU-CFD running on one of our new test beds with OpenMP enabled for Trilinos. NALU-CFD will not compile because there is a forced use of Serial host-space which gives the errors below. It would be super-nice to be able to run Trilinos with OpenMP enabled and NALU-CFD in Serial if that's what is required, is that possible at all?

[code]

[2017-06-19 14:02] alanw0 commented on #154
Hi Si,
In Nalu we have our parallel_for loops hard-wired to use Kokkos::Serial because we haven't yet verified that we are thread-safe. I know we need to do that, and will probably do it soon, but haven't yet.
I'm not sure why it can't utilize a trilinos that was built with openmp enabled. I would have thought that even if openmp is enabled, Kokkos::Serial is always available.

Alan

[2017-06-19 14:04] nmhamster commented on #154
Hey @alanw0 - I agree it should always be available but its something to do with a default assumption somewhere in the code I think (i.e. that the default backend when OpenMP is enabled is != Serial). Let me know when we can start more aggressive OpenMP checking and performance work, we are on hold at the moment due to the above although trying to push MPI only ahead.

[2017-06-19 14:08] sayerhs commented on #154
@alanw0

Should we be forcing `TeamHandleType` to use `Kokkos::Serial` as the execution space in `KokkosInterface.h`?

[code]

I suspect this is picking up `OpenMP` whereas the `DeviceTeamPolicy` is forced to `Kokkos::Serial`.

[2017-06-19 14:10] alanw0 commented on #154
@sayerhs possibly so, that's worth a try, maybe @nmhamster wants to try that in his build to see if it helps.

[2017-06-19 14:13] nmhamster commented on #154
@sayerhs @alanw0 - I can take a look at that and get back to you. I wanted to check if you were routinely compiling with OpenMP etc but it sounds like you are working on the parallelization etc still. Hope to get back to you with some good news shortly!

[2017-06-20 11:31] sayerhs commented on #154
@nmhamster Can you please share the CMake doConfig that you are using to compile Trilinos with OpenMP flags?

[2017-06-20 12:27] sayerhs commented on #154
@nmhamster @alanw0 Please see #157 and let me know if this fixes the compilation issues with Trilinos configured with OpenMP. I have tested this with Trilinos with the following options:

[code]

[2017-06-20 13:28] #154 closed

[2017-06-20 13:34] spdomin commented on #29
Conclusion: The main issue with 100% clean restarts was that we found that the fact that mass flow rate at interior points was not set as a restart field caused diffs. For element-based schemes, we can add this field as a restart field. However, for edge-based, we require added STK functionality.

We evaluated reconstructing the proper Mdot, however, that required adding specialty fields, e.g., ve

[2017-06-20 13:34] #29 closed

[2017-06-21 01:13] #119 closed

[2017-06-21 01:13] spdomin commented on #87
Is there an update on this issue?

[2017-07-12 18:47] spdomin commented on #87
I am going to again ask about an update. Perhaps the best question is simply: "when is this issue expected to be resolved"

[2017-07-13 16:58] spdomin opened #162 "Debug build provides many warnings; please fix"
Debug builds are a bit ugly now in that we have many warnings. Common issues are unused variables, bad comparisons between int and size_t, and initialization ordering.

It would be nice to monitor this more closely in the future. Having a nightly debug build would be useful.

Also, we should review why we have this disparity between debug and opt. I think that it was an optimization to have opt mo

[2017-07-13 17:12] sayerhs commented on #162
@jrood-nrel I worked around that issue by using `-Wno-deprecated-declarations` but retaining other warnings. This is not ideal... but since we are not marking deprecations for compiler in Nalu I felt it was an acceptable choice. This still shows me warnings related to the rest of the code though.

[2017-07-13 17:16] jrood-nrel commented on #162
@sayerhs #100

[2017-07-13 17:21] sayerhs commented on #162
@jrood-nrel Ah, sorry, I'd missed that pull request. Forking yaml-cpp to `NaluCFD` and using a custom spack definition pointing to `develop` might be the best path forward.

[2017-07-13 17:23] jrood-nrel commented on #162
@sayerhs That's a good idea. We could just keep our own snapshot of Yaml here.

[2017-07-13 18:19] jhux2 commented on #87
@spdomin Sorry about the delay.  I'll shoot to have this resolved by end of the month.

[2017-07-15 03:12] spdomin commented on #162
Not sure I would want to maintain a TPL. Has anyone reached out to the YAML team? We could provide a pull request to YAML?

Also, a primary intent of this issue was to actually fix the warnings that are due to Nalu developers. However, perhaps this is already done?

[2017-07-15 12:39] sayerhs commented on #162
Looking at the yaml issue that Jon posted in #100, it appears that the
depreciation issue has been already fixed in yaml develop branch. We can
build against yaml develop and get rid of the warnings. Forking to nalu CFD
would be a temporary measure so as to not track a constantly changing yaml
devel branch, but instead use a snapshot until they release a new tagged
version.
On Fri, Jul 14, 2017 at

[2017-07-17 19:09] spdomin commented on #162
Cool. Our build process can also point to a particular SHA-1? We should probably ask that they push out a new branch/release.

[2017-07-18 06:07] wwzb3 opened #165 "Could you please introduce how to generate Nalu mesh file ?"
Only a few .g files or .e files in binary format.  How to generate these mesh file with popular mesh generator such as ICEMCFD ?

[2017-07-18 13:46] sayerhs commented on #165
Nalu's binary mesh files are in [Exodus II](http://prod.sandia.gov/techlib/access-control.cgi/1992/922137.pdf) format. You can export to this format from several popular mesh generation software.

[2017-07-18 13:59] spdomin commented on #165
ICEMCFD supports Exodus II - as does Pointwise and Cubit.

For viz, we generally use Ensight, Paraview or Visit (the later of the two are open-source)..

[2017-07-18 20:37] marchdf opened #166 "Two `tkeProdLimitRatio` questions"
I was wondering about a couple things as I was digging through some source code.

1. Why is `tkeProdLimitRatio` different for SST (set to 10, as described in Menter2003 model) and for SST-DES (set to 500)?
2. Why is `tkeProdLimitRatio` in the sdr source term not set to `TM_tkeProdLimitRatio` as it is in other files? I would think the following change is necessary:
[code]

[2017-07-19 15:19] spdomin commented on #166
I agree that we should allow for a user to specify this ratio limit and have the code respect it in all cases. As such, your code change above is appropriate.

As for proper default values, 10 and 500 seem arbitrary to me. In most cases, in nature, turbulent flows never see a value greater than O(100). However, 10 seems too small. However, from what I found a long time ago in other codes, 10 was u

[2017-07-19 15:28] marchdf commented on #166
@spdomin. Thanks for confirming. Btw that code change will cause a diff in `elemBackStepLRSST` reg test since it uses `sst_des` and `tkeProdLimitRatio` is set to 500 but ignored and set to 10 in the SDR equation. This change will make the SDR equation use the user specified value.  I will put in a pull request for this change.

10 is the value used in the literature for the SST model (at least Men

[2017-07-19 15:28] #166 closed

[2017-07-19 19:07] mbarone81 opened #168 "reg_tests/CMakeLists.txt backwards compatibility with cmake"
When running the Nalu configure script, cmake v2.8.12.2 complains about the following in reg_tests/CMakeLists.txt :

  Syntax error in cmake code at
    /ascldap/users/mbarone/CODES/Nalu_ActuatorLine/reg_tests/CMakeLists.txt:10
  when parsing string
    Testing is enabled, but the mesh submodule is not initialized.\
   You should 'git submodule init' and 'git submodule update'\
   before running t

[2017-07-19 19:37] spdomin commented on #168
I thought that we needed CMAKE 3.1 at least for any and all Nalu builds?

[2017-07-19 19:38] sayerhs commented on #168
@spdomin No currently Nalu is set for 2.8.11

[code]

[2017-07-19 20:09] mbarone81 commented on #168
module 'sierra-devel/intel-16.0-openmpi-1.8' on skybridge loads git 2.6.1, leading to my problem.

[2017-07-20 13:58] spdomin commented on #168
We should change the build documentation as I originally captured a 3.1 requirement. I think that may have been the superset of all platforms and known make bugs.

@mbarone81, send me the issue you saw on Sky and we can go from there.

[2017-08-02 19:48] jhux2 commented on #87
Here are the tests that fail on my local machine when I have MueLu use KLU as the coarsest grid solve, instead of SuperLU:
[code]

[2017-08-02 19:55] jhux2 commented on #87
I see differences in linear iteration counts for some simulations, no differences for others.

[code]

[2017-08-03 01:17] spdomin commented on #87
Yes. This is consistent with what I originally noted that prompted me to ask the question. In many cases the average iteration count is 2x greater. This would be non-ideal to accept without more understanding. It might be best to choose one and dig deeper. OversetFluids or the elembackstep might be good choices.

What is your opinion on these doffs?

[2017-08-03 01:26] jhux2 commented on #87
I have an idea of why this is happening.  I've looked closely at elemBackStepLRSST.  The coarsest grid matrix is still distributed over all of the ranks because repartitioning is disabled.  MueLu passes this to Amesos2;  however, KLU2 is fundamentally a serial solver.  I suspect there are four instances of KLU solving just the local parts of the matrix.  I'll work with Siva to decide how MueLu and

[2017-08-03 01:39] spdomin commented on #87
Great. Many thanks.

On Wed, Aug 2, 2017 at 7:26 PM Jonathan Hu <notifications@github.com> wrote:

[2017-08-15 02:56] spdomin commented on #165
Are there any more questions on this ticket such that we can close it?

[2017-08-15 02:57] spdomin commented on #53
Transitioned to Jira.

[2017-08-15 02:57] #53 closed

[2017-08-15 03:10] spdomin commented on #162
Working through some build issues..

@alanw0, could you look at:

Nalu/src/Realm.C:2525:42: warning: array subscript is above array bounds [-Warray-bounds]
          minCoord[j] = std::min(minCoord[j], mCoord[k*nDim+j]);

- this is confusing me as I see nothing off.

@sayerhs, could you please push your sims branch fix for the following:

Nalu/src/user_functions/SteadyThermal3dContactSrcElemKernel

[2017-08-15 14:27] alanw0 commented on #162
I agree that code looks correct.
Perhaps it is because the compiler can't know that nDim is <= 3, but I don't know why it would issue a warning.

Alan

On Aug 14, 2017, at 9:10 PM, Stefan P. Domino <notifications@github.com<mailto:notifications@github.com>> wrote:

Working through some build issues..

@alanw0<https://github.com/alanw0>, could you look at:

Nalu/src/Realm.C:2525:42: warning: array

[2017-08-15 14:44] sayerhs commented on #162
@spdomin The line printed out is not consistent with the latest version of the [file](https://github.com/NaluCFD/Nalu/blob/stk_simd_kernels/src/user_functions/SteadyThermal3dContactSrcElemKernel.C#L86). I am not seeing a warning generated either with GCC 5.2.0 or OSX Clang. Can you show me your compilation command line?

I am using this:

[code]

[2017-08-15 20:29] spdomin commented on #162
I think that this might be a gcc bug on compilers lower than 4.9-ish.

On Tue, Aug 15, 2017 at 8:27 AM Alan Williams <notifications@github.com>
wrote:

[2017-08-15 23:27] jhux2 commented on #87
@ndellingwood has fixed an issue in an Amesos2 interface, and pushed it to the Trilinos ```develop``` branch (commit 14b51f1).  For the elemBackStepLRSST test, the patch fixed the linear iteration differences that I was observing.

With the patch applied, the Nalu reg_tests are now diffing with what appear to be very small tolerances, but I'm not in a position to say whether these are acceptable.

[2017-08-16 18:21] jhux2 commented on #87
@spdomin Do you prefer to wait until the patch hits master before evaluating the impact on the Nalu regression tests?

[2017-08-17 02:41] spdomin commented on #87
My understanding is that we set a trilinos configure flag to deactivate
SuperLU. As such I was thinking that this change can proceed and the nalu
tests can still be using SuperLU.

I was hoping that our Q3 runs could be replicated to assess the final path
forward. Stephen can probably help with that subject his availability.

On Wed, Aug 16, 2017 at 12:21 PM Jonathan Hu <notifications@github.com>

[2017-08-17 02:53] srajama1 commented on #87
The flag works the other way - enabling Superlu. Nalu has this ON and can continue to have it ON as long as someone can verify the diffs.

[2017-08-17 15:30] jhux2 commented on #87
@spdomin wrote:

As @srajama1 indicated, Nalu can continue to have SuperLU enabled in the Trilinos configure/build.  Whether to use it is a runtime decision, controllable through the MueLu XML input deck.  Including the following option will force MueLu to use KLU:
`<Parameter        name="coarse: type"                   type="string"   value="klu2"/>`

I'll ask @sthomas61 whether he can help reba

[2017-08-17 20:37] jhux2 commented on #87
@sthomas61 said he can help with this.

[2017-08-17 22:01] jrood-nrel opened #176 "Segmentation faults when using OpenMP and Intel 2016.0.2 compiler"
@marchdf and I have found that when enabling OpenMP and using the Intel 2016 compiler, member initialization lists do not initialize members as expected and appears to be a legitimate but in the compiler. This has been reported by someone else to Intel here: https://software.intel.com/en-us/forums/intel-c-compiler/topic/707019 . I'm not sure if this was resolved in later Intel 2016.0.x versions, b

[2017-09-01 12:53] spdomin opened #183 "Clash over equation names in TpetraLinSys"
When TpetraLinSys extracts the equation system, it uses the name that what is provided in the constructor. However, this name can end up being the user supplied name and not the one that was used to create the Eqs. This is due to the fact that the parser reads in the user supplied name afterwards.

The consequence of this is that in some cases, eqSys_ is null in TpetraLinSys. Therefore, the re-ini

[2017-09-01 12:56] spdomin opened #184 "Nonlinear residual normalization is wrong"
When specifying multiple iterations over individual equation systems or iterating over realms, the normalized nonlinear convergence criteria os wrong.

Add a concept of a "firstIterAtTimeStep" on EQS that is initialized in pre_timestep_work().

@spdomin to manage this.

[2017-09-01 14:22] alanw0 commented on #183
I think I like option 2 at this point. If there's confusion about different names referring to a given equation system, that should probably be cleaned up too, but it's not even an issue for TpetraLinearSystem if we go with option 2 and just give it the EquationSystem at construction. We were probably thinking about unit-testability previously, which I still think is important, but the confusion o

[2017-09-01 14:22] alanw0 commented on #183
I'll go ahead and do this unless you are doing it.

[2017-09-01 14:47] spdomin commented on #183
No, I have complete... I am also merging this pull request with the other nonlinear iteration normalization.

I found this issue only since I was trying to extract a "firstTimeSolve" data member on EQS...

Thanks for the help and comments... Look for the pull request in about 20 minutes.

[2017-09-01 15:36] rcknaus opened #185 ""Up" vector not populated in CoriolisSrc"
The output "cross" needs to be passed by reference in the cross_product function.  Currently, upVector_ is not being computed.

https://github.com/NaluCFD/Nalu/blob/master/src/CoriolisSrc.C#L74

[2017-09-02 15:10] spdomin commented on #183
The following commit addressed this issue:

https://github.com/NaluCFD/Nalu/commit/f3ede1bb528dae6eb0f66f08ee797a08e71bbe02

[2017-09-02 15:10] #183 closed

[2017-09-02 15:11] spdomin commented on #184
The following commit addressed this issue:

https://github.com/NaluCFD/Nalu/commit/f3ede1bb528dae6eb0f66f08ee797a08e71bbe02

[2017-09-02 15:11] #184 closed

[2017-09-05 23:17] spdomin opened #189 "Timing mis-match when threading"
A while ago, I changed the timers in Nalu to use wall time, see:

 https://github.com/spdomin/Nalu/issues/41

However, when running a KNL/threaded/SIMD heat conduction case, I see a discrepancy in the STKPERF and STK::diag timers.

Moreover, there is unaccounted time spent somewhere in the simulation.

We need to resolve this for accurate timing benchmarking.

[2017-09-06 12:09] spdomin commented on #189
@sayerhs and @sthomas61, could you please post your timing overview for a select number of threaded cases that you have already run? Many thanks.

[2017-09-06 13:39] sayerhs commented on #189
# `cvfemHC` run on NREL Peregrine

`mpiexec -np 1 -map-by numa:PE=$OMP_NUM_THREADS`

[code]

# Milestone runs on Cori KNL

## R3 mesh

**OMP_NUM_THREADS=1 and SIMD enabled**

[code]

**OMP_NUM_THREADS=4**

[code]

[2017-09-06 13:44] sayerhs commented on #189
For reference the attached file is the submit script I am using to submit jobs on Cori via `sbatch`. This was generated using [Cori script generator](https://my.nersc.gov/script_generator.php) as a starting point, and information from [example batch script](http://www.nersc.gov/users/computational-systems/cori/running-jobs/example-batch-scripts-for-knl/) on NERSC Cori website.

[Download](https://

[2017-09-06 13:46] spdomin commented on #189
Thanks. If you can add the full set of timers, e.g., total, STKPERF, etc., that would be useful.

I noticed the timers were wrong when I looked at my Cori timers. I found at least one inconsistency in the usage of cpu_time:

https://github.com/NaluCFD/Nalu/commit/ed3791109a38ed7acff81b98baecce97ed90e6fc

There may be certainly more lurking. However, before we tackle performance I think we need to

[2017-09-06 14:29] alanw0 commented on #189
I will try to reproduce the discrepancy on the local blade where I can run threaded and also use vtune for another view of where the time is being spent.

[2017-09-06 16:31] sthomas61 commented on #189
McAlister run on Cori

Cori KNL:
McAlister Wing, MPI only, undersubscribed 66 cores per node,
ILUT smoother, HTS triangular solver:
25 nodes, 1650 cores, time: 960 secs
100 nodes, 6600 cores, time 350 secs

[2017-09-06 18:40] spdomin opened #191 "Segfault in Dirichlet BC in debug"
@NaluCFD/core, I have a number of production runs failing in Debug with the following error at the applyDirichlet() step. This seems to be a periodic/Dirichlet clash, however, I can not be certain.

Throw number = 1
Throw test that evaluated to true: true
Teuchos::ArrayView<int const> : You can not call operator->() or operator*() if getRawPtr()==0!

I replicated this case on an eight-core job usi

[2017-09-06 19:00] spdomin commented on #191
I bisected to @alanw0 : https://github.com/NaluCFD/Nalu/commit/2ee2b3702ba75cadf355980304e3d36b89a38364

I plan on reverting and we can tackle this with a clean-running debug code base; running tests now.

[2017-09-06 22:16] alanw0 commented on #191
I'm pretty sure I know exactly what the issue is with this, it should be a quick fix. But this is where I really wish I could unit-test tpetralinearsystem...

[2017-09-06 22:54] alanw0 commented on #189
I think I have successfully reproduced this on my local blade with the cvfemHC nightly test. When I run with 8 mpi procs and 1 thread per mpi rank, the STKPERF time is very close to the "No-output time", which appears to be the sum of the timer line items for assembly, solve, etc.

But when I run 8 mpi procs with 2 threads per mpi rank, then the 'No-output time' is way more (nearly twice) the STKP

[2017-09-07 18:24] spdomin commented on #189
Sounds good. With my nalu.C change, feel free to close this if you feel that everything is looking in order for the threaded use case.

[2017-09-07 18:26] spdomin commented on #191
Agreed... Let's take this up when the improved unit test story is pulled. Thanks for the quick response and resolution of the issue.

[2017-09-07 18:26] #191 closed

[2017-09-07 18:55] alanw0 commented on #189
It looks like there is some double-counting of time somewhere. For the hoHelium case if I sum the times printed from dump_eq_time() on equation-system, the sum is greater than total time (something like 1330 secs vs 900 secs) for the 8-proc case with 2 threads per mpi proc. I'm running again with 1 thread per proc to see if it's related to threading or not.

[2017-09-07 21:28] alanw0 commented on #189
There is some double-counting of time in the equation-system timers. An example is LowMachEquationSystem::solve_and_update calls momentumEqSys_-> compute_projected_nodal_gradient(), and time is accumulated both inside and outside that call.

In general, I don't know how important this is to fix immediately. For our milestone timings, we can measure overall runtime reliably using either the stkperf

[2017-09-07 22:23] spdomin commented on #189
I will look more at this tomorrow and see if I find a path forward. However, it seems like I need to make sure that the assembly and solve is clean since this is so critical to the SIMD/threaded work.

[2017-09-08 12:18] spdomin commented on #40
@NaluCFD/core if you pushed 9/7/2017, or had a pull request merged yesterday, please take a look at the dash warnings/failed tests.

[2017-09-08 12:53] spdomin commented on #189
I agree that scrubbing the timers will take some time.

Most EqSys modify either timerAssemble_ (for field-updates) or timerMisc_ (for wall function variables, initialization, etc). However, these seem to be scoped well.

As far as I can tell, the calipers in Nalu are okay, however, there is no notion of nesting - as we see in the standard Sierra timers. As such, we are double counting here and th

[2017-09-08 14:56] alanw0 commented on #40
I have a fix, simple issue of the selectors used in the unit-tests. Pushing momentarily.

[2017-09-08 19:25] spdomin commented on #40
Fail fixed in:

https://github.com/NaluCFD/Nalu/commit/fdf8235aafb0fedbe5862bacbc16117cd966e924

[2017-09-08 19:25] #40 closed

[2017-09-25 16:54] spdomin commented on #185
Fixed.

[2017-09-25 16:54] #185 closed

[2017-09-25 16:54] spdomin commented on #138
Verified and now closing.

[2017-09-25 16:54] #138 closed

[2017-09-25 16:54] spdomin commented on #165
Closing ticket.

[2017-09-25 16:54] #165 closed

[2017-09-25 16:55] spdomin commented on #12
This effort has been transitioned to Jira.

[2017-09-25 16:55] #12 closed

[2017-09-27 15:28] gantech opened #200 "Use of undeclared variable in ComputeWallModelSDRAlgorithm.C"
I get the following error message when compiling Nalu in debug mode:

[code]

 I checked and there's no variable declared as nodesPerFace.

[2017-09-27 15:33] alanw0 commented on #200
You might need to pull, the current version of the code contains no such ThrowAssert.

[2017-09-27 15:36] gantech commented on #200
Yup... I see that now. @rcknaus had specifically addressed it in a commit.

[2017-09-27 15:36] #200 closed

[2017-09-28 17:57] jhux2 opened #203 "Compiling with Intel requires "-restrict" option?"
I am compiling Nalu without spack with Intel 17.0.0 and MVAPICH.   I've found that I need to add the `-restrict` compiler option in order to compile this code in `src/master/MasterElement.h`.

[code]

[snip]

[code]

If I omit `-restrict`, the compilation fails with this error:
[code]

I tried compiling with Intel 16, and `-restrict` is still necessary.

Reference: https://software.intel.com/en-us

[2017-09-28 18:15] jrood-nrel commented on #203
@jhux2 I think this is a side effect of the changes I made to the cmakelists. It was finding the base gcc as a compiler even when using Intel. We have logic in the cmakelists for adding `-restrict` for Intel but it wasn't adding it since it was finding gcc from what I saw. I have reverted my changes. Can you try with the latest Nalu code?

[2017-09-29 19:02] jhux2 commented on #203
@jrood-nrel I updated from Nalu master, and your reverts fixed the problem.  Thanks!

[2017-09-29 19:02] #203 closed

[2017-10-09 19:23] sayerhs opened #211 "Tpetra::CrsGraph<>::fillComplete runtime error when using periodic with overset"
The `TpetraLinearSystem::fillComplete` throws an error when attempting to use periodic BC alongside overset BC. Steps to reproduce, replace inflow/outflow BC in `reg_tests/test_files/oversetHybrid` with periodic BC. The following error message is shown below:

[code]

Cc: @spdomin, @alanw0

[2017-10-10 20:03] sayerhs opened #212 "Incorrect version of NaluMesh pointed to in the Nalu repo"
Currently the NaluMesh submodule points to NaluCFD/NaluMesh@3b681ed whereas the `HEAD` points to NaluCFD/NaluMesh@2a71277. The submodule is missing the actuator line meshes/files necessary to run OpenFAST tests. Related to #93

Cc: @jrood-nrel

[2017-10-10 20:07] jrood-nrel commented on #212
Thanks Shreyas. Also, @gantech I'm wondering if `libDISCON_glin64.so` should be removed? It looks like a library.

Side note: maybe we should have called that repo NaluData.

[2017-10-10 20:08] sayerhs commented on #212
@jrood-nrel that is the controller library... I suspect that will fail on OSX, so probably should need to replace with a build directive.

[2017-10-10 20:09] jrood-nrel commented on #212
Hmm, why wouldn't OpenFAST build that itself?

[2017-10-10 20:11] sayerhs commented on #212
Controller files are not part of FAST, they are usually created using Matlab Simulink or otherwise and loaded during runtime to turbine simulation codes. For most OEM turbines, these files will be blackbox libraries that we don't have source code access too. NREL 5MW controller code resides with the NREL 5MW geometry files...

[2017-10-11 16:48] spdomin opened #215 "bytes_per_thread fix..."
bytes_per_thread = 3simdLen;

//3 is wrong, still need to debug this!!! should be 2 but seems to have memory problems.

[2017-10-16 21:35] spdomin opened #217 "FEM-based kernels, which are hex8, are fully instantiated"
I think that we need a more specific approach for FEM-based kernels that are only coded for Hex8FEM.

For example, in HeatCond, we do the following:

      build_topo_kernel_if_requested<ScalarDiffFemKernel>(
        partTopo, *this, activeKernels, "FEM_DIFF",
        realm_.bulk_data(), *realm_.solutionOptions_, temperature_, thermalCond_, dataPreReqs
      );

[2017-10-16 22:16] spdomin opened #218 "get_scs_shape_fn_data() used in FEM-based kernel"
Looks like the FEM-based scalar kernel uses: get_scs_shape_fn_data(). However, this method requires that numScsIps_ and nodesPerElem_ are used.

[2017-10-16 22:26] alanw0 commented on #218
Might be necessary to add a "get_fem_shape_fn_data()".

[2017-10-17 12:40] spdomin commented on #218
Yes... See my pull request...

[2017-10-17 13:42] sayerhs opened #220 "VLA array used in Tri32DCVFEM.C"
[code]

[2017-10-17 14:06] overfelt commented on #220
Shreyas,

I pushed a one line fix for this warning but did not get an email about the push even though my project is now up to date with master.  Did the push fail or am I just not receiving emails?

[2017-10-17 14:32] sayerhs commented on #220
@overfelt It appears that you pushed it to your [local fork](https://github.com/overfelt/Nalu/commit/54ca538853c1886f2ad650fc5248c8525a9e3f6f) and not to NaluCFD/Nalu repo.

[2017-10-17 14:42] overfelt commented on #220
Drat.

[2017-10-17 19:36] spdomin commented on #218
Code pushed to resolve this.

[2017-10-17 19:36] #218 closed

[2017-10-17 19:37] #220 closed

[2017-10-17 19:37] spdomin commented on #217
Code pushed.

[2017-10-17 19:37] #217 closed

[2017-10-23 18:21] nmhamster opened #228 "STK::SIMD Header Files are Not Found in Trilinos Develop"
I expect you already know about this but using Trillinos `develop` branch with NALU-CFD results in:

[code]

I can manually fix this up but just wanted to put this on your radar.

[2017-10-23 18:31] jrood-nrel commented on #228
Hmm. Nalu just ran last night without errors using:
[code]

[2017-10-23 18:33] sayerhs commented on #228
@nmhamster Can you check if the Trilinos@develop was compiled using `-DTrilinos_ENABLE_STKSimd:BOOL=ON \` flag?

[2017-10-23 18:38] nmhamster commented on #228
@sayerhs / @jrood-nrel - I am just checking that, you guys read my mind. I have so many automated tests for Trilinos and NALU I have probably missed. Will report back shortly.

[2017-10-23 21:15] nmhamster commented on #228
@sayerhs / @jrood-nrel - thanks, I hadn't updated that particular script to include STK::SIMD. All fixed now. Thanks!

[2017-10-23 21:15] #228 closed

[2017-10-30 14:14] sayerhs commented on #211
A brief update: I notice that if I disable [buildOversetNodeGraph](https://github.com/NaluCFD/Nalu/blob/master/src/TpetraLinearSystem.C#L727) then throw doesn't occur. Looks like `addConnections` attempts to not just modify the rows for constraint equations, but also adds off-diagonal terms for the donor element to this _fringe_ (orphan node in STK overset lingo). The only place where `periodic` i

[2017-10-30 14:25] spdomin commented on #211
This code provides the stencil initialization that is needed to add the fringe point column entry from the owning element. I think that we need it for correctness. The current code also provides a symmetric contribution as do all matrix connectivity algorithms. In this case, the fringe point has a column added to all rows of the owning element. However, these are always zero.

[2017-10-30 14:33] spdomin commented on #21
Anyone see this error:

http://my.cdash.org/viewBuildError.php?buildid=1314533 ?

[2017-10-30 14:38] sayerhs commented on #211
Any pointers on why this segment of the code is mapping the wrong global to local ID when periodic is on?

[2017-10-30 14:44] alanw0 commented on #21
Yes I noticed that on the dashboard. Git blame indicates that line hasn't been changed for a while:
6a89b0d2 (Shreyas Ananthan 2017-08-04 08:39:43 -0700
I don't know exactly what's going on there. I can look into it unless @sayerhs is looking at it.

[2017-10-30 14:47] sayerhs commented on #21
I am at the airport right now and cannot look at it right away. Looks like a change in Kokkos removed/changed the behavior of KOKKOS_ALIGN

[2017-10-30 14:48] alanw0 commented on #21
@sayerhs no problem, I'll take a look at it. I agree it must be due to a change in Kokkos because that code has been in nalu for a while.

[2017-10-30 14:52] sayerhs commented on #21
@alanw0 Try including `Kokkos_Macros.hpp` in addition to `Kokkos_Core.hpp`?

[2017-10-30 15:10] alanw0 commented on #215
Yes. I change the '3' to '2' (which is what I think it should be) and all nightly tests pass.
I think next I'll do a valgrind run to make sure it's ok. It could be an issue that was solved during development a while back...

[2017-10-30 16:00] alanw0 commented on #21
@spdomin @sayerhs I've made an attempt at fixing this. I included Kokkos_Macros.hpp as Shreyas suggested, and also slightly altered the code. It looked like KOKKOS_ALIGN should come before the variable name instead of after. It built/ran fine on my system, we'll see what the dashboard says.

[2017-10-30 16:35] spdomin commented on #21
@mhoemmen offered to review this error: http://my.cdash.org/viewBuildError.php?buildid=1314533

[2017-10-30 17:05] mhoemmen commented on #211
Tpetra is helpfully telling users that they must have put the wrong row or column indices into the graph before first fillComplete.  I will look at the error processing more closely, but the issue almost certainly arises as a result of input error.

[2017-10-30 18:07] alanw0 commented on #215
ok, I've pushed the change that sets the allocation multiplier to 2. I confirmed all nightly tests are still passing, and also verified that there are no memory errors in the elemHybridFluids test.

[2017-10-30 19:45] mhoemmen commented on #211
As for "local row -1", I am working on fixing the exception message output.  Regardless, this exception indicates user error, for the particular case of a DynamicProfile CrsGraph, most likely created with a column Map.

[2017-10-30 20:17] mhoemmen commented on #21
`KOKKOS_ALIGN` is completely gone from the version of Kokkos snapshotted into Trilinos:develop.

[2017-10-30 20:22] mhoemmen commented on #21
It looks like users are not meant to use this macro any more.  The new macro name is `KOKKOS_IMPL_ALIGN_PTR`.  You could try using that for now, but `IMPL` in the name strongly suggests that Kokkos makes no promise of backwards compatibility for this macro.

[2017-10-30 20:26] mhoemmen commented on #21
I've filed this as a Kokkos issue: https://github.com/kokkos/kokkos/issues/1203

[2017-10-30 20:29] mhoemmen commented on #21
This Kokkos issue (closed) may be relevant: https://github.com/kokkos/kokkos/issues/1004

[2017-10-30 20:29] mhoemmen commented on #21
btw, Trilinos pull requests document Kokkos develop -> master promotions: https://github.com/trilinos/Trilinos/pull/1916

[2017-10-30 20:31] mhoemmen commented on #21
Yup, the fix for that Kokkos issue renamed `KOKKOS_ALIGN_PTR` to `KOKKOS_IMPL_ALIGN_PTR`:

https://github.com/kokkos/kokkos/pull/1115

[2017-10-30 20:37] alanw0 commented on #21
It appears as though apps weren't intended to use the KOKKOS_ALIGN macro, and I suspect it wouldn't be a great idea to use KOKKOS_IMPL_ALIGN_PTR either. Perhaps we should just use __attribute__((aligned(64)) raw ourselves. (Actually, define our own macro that does that.)

[2017-10-30 21:03] mhoemmen commented on #211
I'll repeat here what I just wrote to @sthomas61 , in case it helps:

If rowMap != rangeMap or rowMap != domainMap, then you MUST give the domain and range Map to fillComplete.

The domain and range Maps MUST be nonoverlapping (one to one).

globallyOwnedMatrix_ almost certainly must have an overlapping row Map.

This implies that you MUST give the domain and range Maps (in that order) to `globall

[2017-10-30 21:08] mhoemmen commented on #21
@alanw0 Be sure to protect use of double underlines with backquotes, else GitHub turns them into bold text: `__attribute__((aligned(64))`

[2017-10-30 21:08] alanw0 commented on #211
It looks like we are not passing those maps.
It is probably a simple matter to pass those maps, which might fix this issue. But perhaps this is really arguing that we should construct our own local graph structure...

[2017-10-30 21:09] mhoemmen commented on #21
It looks like `KOKKOS_MEMORY_ALIGNMENT` is still legit.  You could replace 64 in the above bit of code with this macro.

[2017-10-30 21:17] alanw0 commented on #21
Compiler doesn't like KOKKOS_MEMORY_ALIGNMENT. Is there a chance that's a new macro that's not in our version of kokkos yet?

[2017-10-30 22:14] mhoemmen commented on #21
@alanw0 It is in Trilinos develop, not in master yet apparently.

[2017-10-30 22:15] mhoemmen commented on #211
@alanw0 wrote:

Not necessarily.  Epetra's FillComplete had and has the same requirement as Tpetra's fillComplete, namely that it needs explicit domain and range Maps if the row, domain, and range Maps are not all the same.  This is always true for the overlapping ("shared") graph.

[2017-10-30 23:20] sayerhs commented on #211
@mhoemmen This issue issn't implying that the problem was on the Tpetra side, it is a problem with Nalu's `TpetraLinearSystem` class that is creating the Graphs and calling fillComplete on it, and manifests in a very specific use case, namely combining overset and periodic BCs. I am just trying to understand what is different about this specific use case in Nalu that messes up the graph. Note that

[2017-10-30 23:35] mhoemmen commented on #211
Hi @sayerhs !  @sthomas61 shared the code with me.  It looks like the code needs to give the domain and range Map to the overlapping graph's constructor.  I'm surprised that it wasn't; it must be that overset + periodic BCs had a separate code path.

[2017-10-30 23:41] sayerhs commented on #211
Thanks @mhoemmen. I'll check with @sthomas61 what code he shared with you. I've been on a flight today and am just catching up with correspondence. I don't immediately see that the CrsGraph constructors are called differently in [TpetraLinearSystem](https://github.com/NaluCFD/Nalu/blob/master/src/TpetraLinearSystem.C) for this particular use case compared to all other boundary conditions. But it i

[2017-10-31 16:59] mhoemmen commented on #211
@sayerhs wrote:

Yes.  You need to use the correct domain and range Maps too; don't just pass in the row Map if it is not one to one.  https://github.com/trilinos/Trilinos/issues/1925 proposes to check the input Maps in a debug build, but that doesn't change the semantics of fillComplete.

[2017-10-31 17:14] alanw0 commented on #211
@sayerhs @mhoemmen In nalu I don't think we currently have a 1-to-1 map for our range maps. our row map is 1-to-1 for the owned graph/matrix, but not for the globallyOwned. We can use the Tpetra function for creating a 1-to-1 map, but that probably involves another communication step right?

[2017-10-31 17:16] alanw0 commented on #211
And as I recall, the domainMap corresponds to the row distribution, while the rangeMap corresponds to the column distribution.

[2017-10-31 17:17] sayerhs commented on #211
@alanw0 Except for the case of `periodic + overset`, all other Matrix setups pass this assertion

[code]

This would indicate that Domain and Range Maps are the same?

[2017-10-31 17:18] mchurchf opened #230 "Missing Area Magnitude in ABL Wall Function"
I think there is an error in the ABL wall function in that the stress is never multiplied by face area before entering the LHS.  If you look at the standard wall function AssembleMomentumEdgeWallFunctionSolverAlgoirthm.C lines 197-199, you see:

        double lambda = muBip/yp*aMag;
        if ( yplus > yplusCrit_)
          lambda = rhoBip*kappa_*utau/std::log(elog_*yplus)*aMag;

lambda includes

[2017-10-31 17:21] sayerhs commented on #230
I would like to add that this error is also present in the Element based algorithm `AssembleMomentumElemABLWallFunctionSolverAlgorithm.C`

[2017-10-31 17:22] alanw0 commented on #211
@sayerhs That's probably true. It may simply mean that our matrices are globally square, which is true. But it may also mean that we can pass our owned-rows row-map as the domain and range maps for all cases. That would be great, if it saves us the expense of creating a new 1-to-1 map.

[2017-10-31 17:29] sayerhs commented on #211
@alanw0 If it is not too much trouble, can you explain the distinction between ownedRow vs. a globallyOwnedRow? I realize now that I am not sure of what this really means from a physical sense with regard to a STK node on a computational mesh.

[2017-10-31 17:39] mbarone81 commented on #230
I agree that this is an error.  I will push a fix.

[2017-10-31 18:26] alanw0 commented on #211
@sayerhs ownedRow corresponds to a node that is owned by the local processor. globallyOwnedRow (not the best name) corresponds to a node that is on a processor boundary and may be owned by the other processor that shares it. In stk terminology those are just called shared nodes. A shared node exists on multiple processors (mpi ranks) and is owned by one of them.

[2017-10-31 18:27] mhoemmen commented on #211
@alanw0 Would it make sense to call these matrices "owned" and "shared," so that they correspond exactly to STK terms?

[2017-10-31 18:38] alanw0 commented on #211
@mhoemmen Perhaps "owned" and "ownedPlusShared" would be good names. I need to get deeper into the class to make sure my understanding of nalu's maps and graphs is completely correct.

[2017-10-31 18:51] alanw0 commented on #211
@sayerhs I was just looking in the code and I'm having trouble figuring that out. It seems to be determined by the getDofStatus function, which unfortunately appears to have gotten out of control...

[2017-10-31 18:53] sayerhs commented on #211
@alanw0 Yes, that is a big part of why I had to create this issue since I can't seem to fully grok the behavior of `getDOFStatus` especially when it is called from `compute_graph_row_lengths`.

[2017-10-31 19:30] alanw0 commented on #211
@sayerhs I think it would be worthwhile to break getDofStatus out into a function that can be unit-tested. I see a potential bug in there, where it defines ghosted to be !owned && !shared. Technically a node could be both shared and ghosted, though that may be a rare scenario... But getDofStatus is complicated enough that nailing down its behavior in some unit-tests would probably be valuable.

[2017-10-31 20:31] sayerhs opened #231 "NALU_ALIGN hard codes to 64 bit alignment"
The `#define` of `NALU_ALIGN` ignores the size parameter passed. -- [KokkosInterface.h](https://github.com/NaluCFD/Nalu/blob/master/include/KokkosInterface.h#L15)

[code]

[2017-10-31 20:33] alanw0 commented on #231
Good catch, that's a silly bug. I'll fix it right now.

[2017-10-31 20:37] sayerhs commented on #212
With the merge of #214 this issue has been fixed with a newer version of `NaluMesh`

[2017-10-31 20:37] #212 closed

[2017-10-31 20:47] alanw0 commented on #231
ok I just pushed a fix for this.

[2017-10-31 20:47] #231 closed

[2017-10-31 22:46] mhoemmen commented on #211
I have a patch that checks input Maps in fillComplete:
https://github.com/trilinos/Trilinos/pull/1930

The patch causes some downstream tests to fail in Trilinos, so I won't apply it quite yet, but you're welcome to try it out.

[2017-10-31 23:20] spdomin commented on #211
I agree that a name change would be useful as these questions keep re-surfacing.

dofStatus was not really designed for aura. As such, I feel that !shared and !owned is, in fact, ghosted:)

[2017-10-31 23:23] spdomin commented on #230
Yesterday, I launched an ABL case for both edge- and element-based with this aMag fix. Both schemes are predicting nearly the same velocity components while the velocity magnitude dropped from ~6 m/s to ~4 m/s.

It will be good to have this cleaned up ASAP. We should check with other Nalu users to see if ABL has been used in production mode.

Finally, we may want to patch the previously tagged v1.

[2017-10-31 23:23] #215 closed

[2017-10-31 23:25] spdomin commented on #21
Most developers build against develop. However, my Trilinos version that most developers use has not been updated. I can do this later this week.

[2017-11-01 04:01] mhoemmen commented on #211
I prefer the following terms for three sets that are disjoint on each MPI process:

  - *Owned*: DOF which my process computes (e.g., in linear solves)
  - *Shared*: DOF to which my process contributes, but which my process does not compute
  - *Reachable*: DOF on my process, neither owned nor shared, but connected to a shared DOF on my process

Here is how that maps to Tpetra data structures:

[2017-11-01 12:42] sayerhs commented on #211
@mhoemmen I like the proposed nomenclature! It is intuitive and the intent is clear.

[2017-11-01 15:46] alanw0 commented on #211
@mhoemmen I agree with your description of owned or shared. I'm not as sure about reachable. I think that gets a little complicated with periodic and/or contact search ghosting. For a mesh with no ghosting but "regular" shared nodes on mpi-proc boundaries, reachable only includes "nodes on other procs that are connected to shared nodes that I own". But in the presence of ghosting, I think reachabl

[2017-11-01 15:59] alanw0 commented on #211
@spdomin In fact stk-mesh defines the 'aura' ghosting to be a 1-element-thick layer around shared, so by definition no node that is ghosted by the aura can also be shared (i.e., your definition is perfectly correct for aura). But for "custom" ghostings, nodes to ghost are purely chosen by the caller (i.e. nalu), and so a shared node could also be a ghosted node (to the same proc that shares the no

[2017-11-01 16:53] sthomas61 commented on #211
In the case of our V27 mesh, with possibly hanging nodes these is a problem after assembly.
When looping through the local rows on a rank, and pulling out the global column indices - and
use these to look up a "node" in the STK bulk data - but somehow the aura/ghosting or hanging nodes leads to is_valid(node) = INVALID for some of these nodes.

[2017-11-01 17:03] mhoemmen commented on #211
@alanw0 Do ghost DOFs have the same global index on both processes (owner and "ghoster"), or different global indices?  For example, if my process ("owner") owns a DOF and it has been ghosted to a different process ("ghoster"), then does the "ghoster" see the same global index for that ghosted DOF that my "owner" process sees?

[2017-11-01 17:21] alanw0 commented on #211
@mhoemmen for stk-mesh nodes, the global id is the same for the scenario you describe. However, nalu has a field 'naluGlobalID_' which allows for giving Tpetra global-ids that are different than the stk-mesh global-id. This happens in the case of periodic, I don't know of any other scenario that should cause that to happen.

[2017-11-01 17:22] alanw0 commented on #211
@sthomas61 Does your case have periodic boundary conditions? If so, that might explain why there is a discrepancy like you describe. If not, then I'm not sure. Sounds like a bug somewhere....

[2017-11-01 17:22] sayerhs commented on #211
@alanw0 You are correct, the only situation where `stkID != naluGlobalID` is for periodic nodes (and that too only on the _slave_ part, the _master_ part will have `stkID == naluGlobalID`.

Currently we don't have a situation where any custom ghosting ghosts nodes/elements if they are already shared on that particular rank.

[2017-11-01 17:52] mhoemmen commented on #211
@alanw0 wrote:

If STK already gives the owned and ghosted versions of a periodic BC the same GID, then why would the solver want them to have different GIDs?

I guess you could handle periodic BCs like Dirichlet BCs, by treating owned and ghosted versions as separate DOFs and using the matrix to constrain them to be equal.  However, that could lead to trouble, because linear solvers only promise

[2017-11-01 17:56] sayerhs commented on #211
@mhoemmen The ghosted nodes are never part of the Tpetra Matrix, they are always excluded in the MPI rank they are _ghosted_ onto. So are the _slave_ nodes of a periodic boundary pair.

[2017-11-01 18:11] mhoemmen commented on #211
@sayerhs Are "ghosted" and "slave" just different words / PDE concepts that describe the same mechanism?

[2017-11-01 18:12] alanw0 commented on #211
@mhoemmen I think periodic involves creating pairs of nodes that are to be considered the same. If each pair contains a 'master' and a 'slave', then nalu associates the global-id of the master with the slave. Thus stkId != naluGlobalID_ for the slave. So it's not that nalu is giving a different id to the ghosted vs the owned node, but rather nalu is giving a different id to the slave node. I don't

[2017-11-01 18:21] alanw0 commented on #211
@mhoemmen "ghosted" is a stk concept which means take a node (or other mesh entity) owned on 1 mpi-proc, and make a copy of it on an arbitrary other mpi-proc. "slave" is a nalu concept which says "consider 1 node to be the same as another (master) node, regardless of whether both nodes are on the same mpi-proc or not". stk-mesh knows nothing about the 'slaving', and considers the nodes to still be

[2017-11-01 18:23] sayerhs commented on #211
The notion of a _slave_ node only occurs in periodic BC. The two BC planes considered periodic have coincident nodes (if one of the planes in the pair was translated to match the other plane). As we try to sumInto matrix, Nalu intercepts every access of slave node's row ID and instead passes the master node's row... so all elements connected to the slave node populate the row for the master row. A

[2017-11-02 21:41] #230 closed

[2017-11-03 14:44] spdomin commented on #230
As a matter of practice for future issues, please link (either hard-coded or mentioned) the commit/pull request prior to closing any issue. We want the traceability between code commit and issue to be clear.

https://github.com/NaluCFD/Nalu/pull/232

[2017-11-03 15:04] spdomin commented on #211
- late to this...

Past codes at SNL managed periodic this way. However, the easiest manner to manage periodic is to  manage ids such that they periodic pairs/triplets are the same.

This thread is getting rather long. It may be better to attack the problem with a short meeting and design documents.

For the record, we never wanted dofStatus. We always wanted a design that would remove load_comple

[2017-11-03 15:10] spdomin commented on #211
The more I review this thread, the more I feel that there is a need to meet and talk. There are too many concepts floating around. In some cases, I question some of the statements made. This may simply mean my understanding is lacking, however, I would like to close the gap.

[2017-11-03 15:33] mhoemmen commented on #211
@spdomin It would make sense for us to write up a document.  That would go along with efforts by @tjfulle and @william76 to codify best practices for using Tpetra.  We haven't yet codified best practices for things like periodic BCs, oversets, and moving meshes, so now would be a good time :-) .

[2017-11-03 16:51] spdomin commented on #211
Okay, later next week, I will add a story that speaks to the set of matrix contribution use cases. The theory document shows some good images for overset and I have a paper that speaks to sliding mesh.

When we first implemented the dofStatus, we excluded periodic being active with sliding-mesh/overset. Very recently, we extended support to include sliding mesh and periodic without too much effort

[2017-11-07 20:22] jhux2 opened #237 "Improve Belos linear solver output"
Right now, the Belos linear solver residual history looks like this:
[code]
The following change would make the Belos output look more like that of Aztec.
[code]

[2017-11-07 21:14] sayerhs opened #238 "Preconditioner timer reporting in EquationSystem with linear system reinitialization"
The `timerPrecond_` is accumulated in the LinearSolver object and then output within the EquationSystem reporting method (after adjusting timerSolve_). However, when using Nalu with mesh motion, the `linearSolver_` object is destroyed and recreated within the `EquationSystem::reinitialize_linear_system` before each timestep, so it appears that the `timerPrecond_` reported in the log file only capt

[2017-11-07 21:34] spdomin commented on #238
This is probably a bug in the timers that did not take in consideration the mesh modification step.

[2017-11-07 21:35] spdomin commented on #237
That looks great. Feel free to issue a pull request..

[2017-11-08 15:19] spdomin commented on #238
I looked at the code. Definitely a problem and in need of repair. This also explains data coming from @mbarone81 and @jhux2 where we could not explain why setup was so expensive in his non-rotating simulations with and without recompute_precond().

In the end, we want solve time to still subtract out the preconditioned time, as is done in dumpEq.

I think that we could fix this many ways. One migh

[2017-11-08 16:14] sayerhs commented on #238
@spdomin I think your first suggestion is my preference for the fix:  Change `LinearSolver::timerPrecond_` to be just the time spent setting up preconditioner at that particular solve step. The actual summing `+=` step happens within `EquationSystem::assemble_and_solve()`, and change the adjustment of `timerSolve_` in `dump_eq_time()` with `timerSolve_ -= timerPrecond_`.

I will make the necessary

[2017-11-08 20:28] jhux2 commented on #237
See pull request #242.

[2017-11-08 21:29] #238 closed

[2017-11-08 21:39] jhux2 commented on #238
@sayerhs Thanks for finding this!  I was looking at the timers today, and couldn't make sense of what was reported at the end of the simulation, vs. what MueLu is self-reporting.

[2017-11-08 21:40] #237 closed

[2017-11-09 22:24] jrood-nrel commented on #21
Currently clang has problems with:
[code]

[2017-11-10 16:34] spdomin commented on #21
@alanw0, I think that there is a std::percision that can be used, right? Is that suitable with DoubleType?

[2017-11-10 16:38] alanw0 commented on #21
@spdomin in fact, now that you mention it, I see that we are initializing realmin in 14 different places in the master-elem code. It should definitely be consolidated into 1 place, and it would probably be better to use something from numeric_limits... I'll look into that.

[2017-11-10 16:39] spdomin commented on #21
right.. I meant numerical limits:)

[2017-11-10 19:21] #168 closed

[2017-11-12 22:35] spdomin opened #246 "Wedge6SCS boundary error...."
Yet another issue in master elements.

For wedge6, the exposed face mapping is wrong:

[code]

Should be:

[code]

Opposing nodes to face 3 seem fine (note the comment):

[code]

[2017-11-13 15:58] #246 closed

[2017-11-15 20:18] spdomin opened #248 "Spurious high velocities at corner walls with wedge6"
We have a few cases demonstrating high velocities at wedge elements when using wall functions.

Investigate and ensure exposed face quadrature points are proper (unit test, etc).

We can negotiate who takes this on... @rcknaus might be best with his master element unit test experience.

[2017-11-15 23:53] mbarone81 commented on #248
I was able to find high z-velocities, ~300 m/s occurring right near the blade tips. Elements are hex near the blade tip corners where these high velocities occur.

[2017-11-16 14:35] spdomin commented on #248
@mbarone81, sounds like you are seeing something similar. As far as I can tell from our V27 simulation study, this issue may only occur when using wall functions at sharp corners. Your comment above suggests that the wall node is fine and that velocities are iffy away from surfaces.

In the end, your assessment of neat wall resolution is spot on. In the v27 case, the turbine box is where the issue

[2017-11-21 00:27] spdomin opened #250 "Update isNotNGP"
We have converted all of the P=1 master elements. However, the following code remains:

    bool isNotNGP = !(topo == stk::topology::HEXAHEDRON_8 ||
                      topo == stk::topology::HEXAHEDRON_27 ||
                      topo == stk::topology::QUADRILATERAL_4_2D ||
                      topo == stk::topology::WEDGE_6 ||
                      topo == stk::topology::TETRAHEDRON_4 ||

[2017-11-21 00:29] spdomin commented on #250
Actually, I am working there now and can handle this...

[2017-11-23 00:36] spdomin commented on #250
https://github.com/NaluCFD/Nalu/commit/70aae85d371e1ba0ca5d4c1005f1ec3394e7a905

[2017-11-23 00:36] #250 closed

[2017-11-24 21:03] spdomin commented on #184
@michaelasprague, this is the bug fix that addressed the minor-iterations over each equation system.

[2017-11-28 16:43] michaelasprague commented on #162
@spdomin -- has this issue been addressed to your satisfaction?  If so, can we close it?

[2017-12-12 22:39] sayerhs opened #274 "Allow CMake to search shared libraries with `find_package`"
Currently, Nalu's top-level CMakeLists.txt sets

[code]

which forces CMake to only look for static libraries with `find_package` directives. Is there a use case where this is explicitly needed and why CMake's platform specific defaults are not appropriate? If this is explicitly needed can we change the second line to

[code]

so that it can accept shared libraries if static libraries are unavaila

[2017-12-12 22:44] jrood-nrel commented on #274
I would prefer to go further and remove those two lines and let CMake find any type. Then I would change:

[code]
to
[code]

[2017-12-12 22:55] jrood-nrel commented on #274
I'm happy to address this stuff since this is one of the things I addressed when I was working to reorganize CMakelists a while ago but had to revert because I messed up the location of `PROJECT(Nalu)` which caused problems.

[2017-12-13 19:53] sayerhs commented on #274
@jrood-nrel Yes, the preference would be to not explicitly list suffixes in the Nalu CMakeLists.txt file.

Would also be good to move YAML-cpp stuff into a `cmake/FindYAML.cmake` along with package helpers.

[2017-12-13 19:54] mbarone81 commented on #248
My application tests with various element and mesh topologies at sharp corners indicated a sensitivity of the solution to resolution rather than to specific element types.  The wall function exacerbates the resolution issue because of thin shear layers that can appear at sharp corners.  This testing and the conclusions are documented in the ECP FY18 Q1 report.  The need for further unit testing of

[2017-12-14 19:50] spdomin commented on #248
Right... I think that you have explained the high velocity based on core studies that used the bug-fix in mapping.

[2017-12-15 16:03] sayerhs opened #280 "Clang warnings with SetUp methods in unit test fixtures"
Clang on OS X raises overloaded virtual warnings with the following code snippet:

[code]

Also can this fixture be isolated into its own header file? `UnitTestUtils` gets included in almost every unit test C file.

[2017-12-15 16:05] mbarone81 commented on #280
@sayerhs or @rcknaus can one of you help with the clang warnings?  I do not build on OS X,

[2017-12-15 16:16] sayerhs commented on #280
You can quell these warnings with the following modification:

[code]

[2017-12-15 16:44] mbarone81 commented on #280
@shreyas -- thanks, created a pull request for quick fix for clang warnings

[2017-12-15 16:46] mbarone81 commented on #280
Separating out these classes into a different header file is probably good -- however, we could do this for other classes in UnitTestUtils as well, so maybe a more comprehensive review of the code structure should be done.

[2017-12-15 18:04] mbarone81 commented on #280
@sayerhs release and debug both build fine on gcc4.9.3 and intel-17

[2017-12-15 18:07] sayerhs commented on #280
Fixed in #281

[2017-12-15 18:07] #280 closed

[2017-12-18 14:43] spdomin commented on #274
Dealing with finding yaml would be a good change:)

[2018-01-02 21:06] jrood-nrel opened #291 "CDash conversion to HTTPS"
I got a reply to my email to Kitware about the CDash website not posting successfully submitted test results. This was apparently due to a problem where they recently converted the site to HTTPS and it caused some projects appear blank. They seem to have solved that problem for us.

This obviously coincides with the certificate issue Sandia is seeing so I'm creating this issue and we can see if th

[2018-01-05 18:06] jrood-nrel opened #294 "Changes to Trilinos causing diffs"
There are 17 tests that are resulting in diffs. After investigation using the latest Trilinos develop branch and comparing against the develop branch from a few weeks ago, the diffs do not happen in the older Trilinos version. This is using the latest Nalu as of Jan 5. Therefore, something must have changed in Trilinos January 3rd that is causing the issue.

[2018-01-05 18:11] jrood-nrel opened #295 "Changes in Trilinos causing segfaults with GCC 7.2.0 and OpenMP"
Between January 4-5, changes to Trilinos have been causing segfaults on OSX when using GCC 7.2.0. This issue does not seem to affect Clang. This has been verified on my laptop as well as the Mac test machine, and when using an older version of Trilinos with the most recent Nalu as of today (Jan 5), these segfaults do not occur. This issue also occurs with the master branch of Trilinos as well as t

[2018-01-05 19:04] jrood-nrel opened #296 "OpenFAST regression test portability"
Currently the OpenFAST regression test is not portable to OSX as it expects a `.so` to be loaded:

[code]

[2018-01-05 19:10] jrood-nrel commented on #295
After further investigation, this issue does not occur when having OpenMP turned off in Trilinos.

[2018-01-05 19:35] jrood-nrel commented on #295
Issue filed with Trilinos here https://github.com/trilinos/Trilinos/issues/2130

[2018-01-08 14:10] spdomin commented on #294
@jrood-nrel, we need to let the Trillions team know this and perform a bisect. Have you done one of those before? It generally takes a couple of hours with the build/bisect iteration - most of which can be done in the background during a normal days work.

Let me know if you can submit the Trilinos issue and if you need help on the bisect. Alternatively, we can pick someone at the stand-up to do t

[2018-01-08 16:59] jrood-nrel commented on #294
Ok I will find the commit causing the diffs and post the issue to Trilinos. I can probably just modify my testing script to inject the bisect before Trilinos builds.

We have been testing against the Trilinos master branch since October on the Mac. Waiting for the testing machine when I will have enough resources to test it on Linux.

The clang segfaults started the same day, but I am not yet cert

[2018-01-09 23:03] jrood-nrel commented on #294
Here are the results of the bisect with 4 neighboring commits that are related:
[code]
@spdomin Do we want to submit an issue to Trilinos regarding this, or shall we accept the diffs?

[2018-01-10 05:14] mhoemmen commented on #294
@jrood-nrel Thanks for digging into this!  It looks like commit https://github.com/trilinos/Trilinos/commit/bd5e7e36346b88dc7984acd660f2e6138672a96a enabled thread-parallel sparse matrix-matrix multiply when using the OpenMP execution space with Tpetra.  This may give a slightly different multigrid hierarchy, and thus slightly different linear solver results in exact arithmetic.  Iterative linear

[2018-01-10 05:15] mhoemmen commented on #294
Also, the commit in question (or its issue) should have been marked "Results Impacting" per Trilinos policy.  I'm grateful to see this code finally enabled, though.  I know those folks worked really hard on it, and it will help make multigrid setup more thread scalable.

[2018-01-10 16:35] csiefer2 commented on #294
@mhoemmen is correct.  If you weren't configuring with -DKokkosKernels_ENABLE_Experimental=ON before, Trilinos' default behavior *did* change.

If you can hand me something to reproduce the problem (a particular SHA1 for Nalu, a list of failing tests and a link to Nalu build instructions) I can investigate.

[2018-01-10 16:38] jrood-nrel commented on #294
@mhoemmen Sounds good. Thanks for replying to this. I'm wondering if these commits are causing the segfaults on OSX with GCC and OMP? I will try to test that as well. The tests are currently run with `OMP_NUM_THREADS=1; OMP_PROC_BIND=FALSE`. It looks like the results are deterministic with `OMP_NUM_THREADS=1`, so I am fine updating our gold files.

@spdomin Based on this information, shall we upda

[2018-01-10 18:06] mhoemmen commented on #294
@jrood-nrel, @csiefer2 tells me that he would like to investigate a bit before y'all update your gold files.  Thanks!

[2018-01-10 18:10] jrood-nrel commented on #294
@mhoemmen No problem.

@csiefer2 The documentation for building Nalu is http://nalu.readthedocs.io/en/latest/source/user/building.html . You should be fine using the latest Nalu master branch. You can see the test results at https://my.cdash.org/index.php?project=Nalu . If you look at the notes for each build, you can see more about how the testing is happening. The peregrine machine with GCC is t

[2018-01-10 18:18] jhux2 commented on #294
@csiefer2 Depending on what platform you decide to use, I can help you with the Nalu build.  @spdomin has prebuilt TPLs on skybridge and ghost.

[2018-01-10 20:34] jrood-nrel commented on #291
@spdomin @rcknaus Has Sandia still been experiencing issues with this HTTPS change to CDash?

[2018-01-10 21:36] jrood-nrel commented on #295
The exact commit causing this was found with these results:
[code]
I posted this on the Trilinos issue.

[2018-01-10 21:38] jrood-nrel commented on #294
So what I feel are the same set of commits seem to also be causing the segfaults I am seeing on OSX with GCC 7.2.0 and OpenMP on. Therefore I feel like even if we disregard the diffs, there seems to be a bug in this set of commits. The results of the segfault bisect are:
[code]

[2018-01-11 01:00] mhoemmen commented on #294
FYI @jrood-nrel is referring to https://github.com/trilinos/Trilinos/issues/2130 ; see e.g., https://github.com/trilinos/Trilinos/issues/2130#issuecomment-356744081

[2018-01-11 14:52] spdomin commented on #294
Thank you for all of the discussion and work on this front. Let me know if I can help.

The pre-built Ghost and Skybridge TPLS, as Jonathan notes, are for intel-based builds. However, these diffs are on our linux-flavor gold development platform. Following the SPACK build process is probably easiest to follow.

Of coarse, if you are simply evaluating the new and old behavior, any platform might wo

[2018-01-11 15:57] sayerhs opened #300 "HypreLinearSystem: Incorrect sumInto when using 1 element-wide mesh with periodic BC on the sides"
In the current implementation, `HypreLinearSystem::sumInto` will fail in situations where the mesh is 1-element wide in the periodic direction, i.e., both periodic side-sets belong to the same element. In this case, the behavior of HYPRE library causes issues in [line 400](https://github.com/NaluCFD/Nalu/blob/master/src/HypreLinearSystem.C#L400) and [line 452](https://github.com/NaluCFD/Nalu/blob/

[2018-01-11 16:02] sayerhs commented on #300
I plan to perform some performance studies on what the exact performance hit in HYPRE's `assemble` timings will be, along with some VTune studies if necessary before adding the proposed fix.

[2018-01-11 17:29] jhux2 commented on #294
@spdomin Have you or anyone else done a SPACK build for the CEE lan?

[2018-01-11 20:23] #162 closed

[2018-01-11 20:27] jhux2 commented on #294
@csiefer2 I've built nalu against Trilinos develop in RELWITHDEBINFO mode.  Have a look on cee-compute011, /scratch/jhu/nalu.

[2018-01-12 00:37] csiefer2 commented on #294
I can reproduce the tolerance diffs.  (Thanks for the assist @jhux2 )

[2018-01-12 14:05] spdomin commented on #300
Sounds like a good plan.

[2018-01-12 15:12] jrood-nrel commented on #294
I disabled openmp on all the test machines for the moment and the diffs aren't happening.

[2018-01-12 15:13] jrood-nrel commented on #295
I disabled openmp on all the test machines for the moment and the segfaults aren't happening because of it.

[2018-01-12 16:03] csiefer2 commented on #294
As for the OSX errors, I would highly recommend setting OMP_NUM_THREADS in your testing script so that the below warning goes away. From my experience at least, oversubscribing codes (especially if OMP_PROC_BIND is set) can cause segfaults.

Kokkos::OpenMP::initialize WARNING: You are likely oversubscribing your CPU cores.
                                    Detected: 4 cores per node.

[2018-01-12 16:04] csiefer2 commented on #294
As for the diffs on peregrine I want to do a bit more digging on uqSlidingMeshDG, because those look pretty big

[2018-01-12 17:53] csiefer2 commented on #294
Drat.  I was hoping for an easy answer.

@jhux2 Do you have a OSX machine you'd care to let us try Nalu builds on?

[2018-01-12 18:04] jhux2 commented on #294
@csiefer2 I don't.  @jrood-nrel Is it possible to get accounts on the NREL mac test machines?

[2018-01-12 18:12] csiefer2 commented on #294
@jrood-nrel What would also be useful is a valgrind of one of the failing tests...

[2018-01-12 18:13] jhux2 commented on #294
@jrood-nrel Would it be possible for you to run one of the small tests by hand with Valgrind on the test machine, and send us the results?

[2018-01-12 18:53] jrood-nrel commented on #294
Sorry but the Mac test machine is essentially categorized as my personal machine, so I can't give access to it. I can give you an approximate list of steps to install if you have access to OSX as such:
[code]
Or you can browse http://nalu.readthedocs.io/en/latest/source/user/build_spack.html#mac-os-x-or-linux for slightly more info.

I can't work on this again until next week, but I can try to hel

[2018-01-12 19:02] jrood-nrel commented on #294
Maybe GCC 7.2.0 exhibits this same behavior on Linux? I haven't tried that. I could also try that next week.

[2018-01-12 19:13] jrood-nrel commented on #291
I emailed Kitware about the certificate errors Sandia is seeing.

[2018-01-12 19:35] jhux2 commented on #294
@jrood-nrel We don't have access to a Mac, otherwise we'd try reproducing this locally.  The Trilinos framework team is in the process of adding gcc 7.2.0 coverage on Linux to the Trilinos dashboard (issue trilinos/trilinos#2028).

[2018-01-12 19:46] jrood-nrel commented on #294
@jhux2 Ok, no problem. I will try to go in depth with the segfaults and valgrind and try GCC 7.2.0 on Linux and relay the information I find.

[2018-01-12 21:45] jrood-nrel commented on #294
I put together some valgrind output while waiting on a job to run. When building Trilinos with build_type=debug, I wasn't able to reproduce the segfault. Here is the output from the release build (`-np 2` so twice the output):
[code]

[2018-01-12 21:57] mndevec commented on #294
@jrood-nrel
What are the Kokkos execution spaces that are enabled here? Does it enable Kokkos threads execution space? It is interesting to see  pthread related errors.
--Sorry that if I am missing a Trilinos configure file that was already provided.

[2018-01-12 22:08] jrood-nrel commented on #294
@mndevec This is what I'm seeing for a summary of the Kokkos configuration. OpenMP is explicitly turned on during configure with `-DKokkos_ENABLE_OpenMP:BOOL=ON`. There are some pthreads related things that appear to be turned on such as `Setting KokkosCore_ENABLE_Pthread=ON since TPL_ENABLE_Pthread=ON`, though I am not enabling it explicitly.

[code]

[2018-01-12 22:16] jrood-nrel commented on #295
For future reference most of the discussion for this is happening in #294

[2018-01-13 00:14] mndevec commented on #294
Kokkos does not support both OpenMP and Pthreads but it looks like it is not the case. I think KokkosCore_ENABLE_Pthread is an unused cmake variable.

Is it possible to add below to the executable to see the all kokkos macros?
  Kokkos::print_configuration(cout);

[2018-01-16 19:42] jrood-nrel commented on #294
I can reproduce the segfaults with GCC 7.2.0 on Linux with OpenMP on. So it turns out the segfaults are not an OSX issue.

[2018-01-16 19:42] jrood-nrel commented on #295
I can reproduce the segfaults with GCC 7.2.0 on Linux with OpenMP on. So it turns out the segfaults are not an OSX issue.

[2018-01-17 03:51] mhoemmen commented on #294
FYI this might be relevant: https://github.com/trilinos/Trilinos/issues/2161#issuecomment-358151082

[2018-01-17 22:23] jrood-nrel commented on #294
@mhoemmen I just tried the develop branch which is `5135ad8 [Wed Jan 17 10:22:22 2018 -0800]` and I still get segfaults on Linux with GCC 7.2.0 with OpenMP enabled so it doesn't appear commit `d86ccdc` made a difference.

[2018-01-18 03:37] spdomin opened #302 "Mac consolidated dgThreeBlade diverging while non-consolidated runs fine."
I have realized that a Mac simulation using the consolidated and non-consolidated Kokkos scheme behaves very differently for a slightly modified dgThreeBlade case. The consolidated approach diverges while non-consolidated runs fine. I am not sure if all of this is related to the recent Trilinos changes or an inherent difference in the implementation (possibly master elements even...). I need to lo

[2018-01-18 04:23] mhoemmen commented on #294
@csiefer2 is working on it.  Thanks!

[2018-01-18 12:51] sayerhs commented on #302
@spdomin Are you running the tests via the `ctest` interface? If not, are you explicitly setting  `OMP_NUM_THREADS=1` before running the test cases? On Mac systems,  it is set to the max number of threads available and I remember that has caused test failures when running threaded versions on Mac. My understanding is that the XCode clang compilers don't support OpenMP. If using GCC compilers via h

[2018-01-18 15:08] spdomin commented on #302
@sayerhs, I am running an "application run" outside of ctest. I will look into the suggestions above - may thanks.

[2018-01-18 16:25] sayerhs opened #303 "MasterElement inconsistency: `general_shape_fcn` not implemented for Wedge, Pyramids etc"
The `general_shape_fcn` is only implemented for HEX in 3-D but not for other topologies. Instead there are `wedge_shape_fcn`, `pyr_shape_fcn` etc. This causes issues for overset in [overset assemble](https://github.com/NaluCFD/Nalu/blob/master/src/overset/AssembleOversetSolverConstaintAlgorithm.C#L175) when used with mixed topologies. I am able to work around this temporarily by the code snippet b

[2018-01-19 22:30] #274 closed

[2018-01-19 22:30] jrood-nrel commented on #274
This is resolved by #299 .

[2018-01-19 22:31] jrood-nrel commented on #296
This is resolved by #299 .

[2018-01-19 22:31] #296 closed

[2018-01-24 15:50] csiefer2 commented on #294
A brief update: Heisenbug!  DEBUG builds work fine and adding output statements changes the code behavior.

[2018-01-24 16:31] jrood-nrel commented on #294
@csiefer2 Thanks. Both @jhux2 and I have seen the Debug build silence the errors as well https://github.com/trilinos/Trilinos/issues/2130#issuecomment-358474923

[2018-01-24 18:37] mhoemmen commented on #294
Correction: @csiefer2 is working _hard_ on it and @jhux2 is also helping out :-)

[2018-01-24 18:48] csiefer2 commented on #294
I just pushed a GCC 7.2.0-specific workaround into the code, switching the code path to make the troublesome error disappear (at least in the Trilinos tests).

We will leave the associated Trilinos issue open, but I didn't want to continue blocking Nalu for something this hard to track down.

[2018-01-25 20:19] jrood-nrel commented on #294
@csiefer2 Can you confirm that this implemented workaround will fix the diffs we were seeing and not just the segfault error?

[2018-01-25 20:40] jhux2 commented on #294
@jrood-nrel Remind me -- what version of gcc were you seeing the diffs with?

[2018-01-25 20:46] jrood-nrel commented on #294
@jhux2 It was both GCC 5.2.0 and 4.9.2 showing diffs, each on different machines.

[2018-01-26 17:32] opoplawski opened #308 "unittestX fails to build with undefined reference"
Building current git master:
[code]

[2018-01-26 18:14] jrood-nrel commented on #308
Looks like the HDF5 symbols are missing during the link process. Can we verify that Trilinos was built with HDF5 enabled? Or, rather, was https://github.com/NaluCFD/Nalu/blob/master/build/do-configTrilinos_release used to configure Trilinos? The CMake configure step in Nalu is set up to inherit the configuration of Trilinos, so we assume that HDF5 should be taken care of by Trilinos.

[2018-01-26 18:37] jrood-nrel commented on #308
Ok I think that is the problem then. I'm a little worried about the version of Trilinos as well based on it ignoring `HDF5_ROOT`, since I believe specifying `HDF5_ROOT` as we currently do should work with the latest Trilinos develop branch. Using the `<TPL>_ROOT` hints in the CMake configure is something Trilinos enabled within the past year. So the next thing I would do is verify that you are usi

[2018-01-26 19:36] opoplawski commented on #308
I'm using the master branch of Trilinos at commit b7036615905c18ca108007c8803f71d8bae81aec

The main issues seems to be a missing "-DTPL_ENABLE_HDF5=ON" in do-configTrilinos_release.  After enabling that and setting the needed -DHDF5_*_DIRS it found HDF5.

[2018-01-26 20:42] nmhamster opened #309 "NALU Does Not Detect YAML-CPP Since Recent Change"
Something seems to have changed in the `CMakeLists.txt` which is causing YAML-CPP to not get detected properly.

[code]

The result is that CMake configuration time fails with:

[code]

[2018-01-26 21:02] jrood-nrel commented on #309
Ah, this is my fault. I apologize. Since the `yaml-cpp` project has not tagged a new version in a quite a long time, many of us have been using the `develop` branch of `yaml-cpp` which provides `yaml-cpp-config.cmake` and fixes many warnings when building Nalu. I forgot to check backwards compatibility with version 0.5.3 (which we suggest in the build instructions) which I just verified does not p

[2018-01-26 22:46] jrood-nrel commented on #308
Thanks for looking into that. I have updated the config scripts to include `TPL_ENABLE_HDF5`.

[2018-01-30 17:59] opoplawski commented on #308
thanks.

[2018-01-30 17:59] #308 closed

[2018-02-01 17:27] lluisjofre opened #311 "Problem when using transfer functions to interpolate between meshes"
Turbulent axisymmetric case:

When trying to interpolate the solution from mesh R2 to mesh R3, the input file seems to be missing some part of the transfer functions.

Input file attached:
file:///home/jofre/Downloads/inputJet.i

[2018-02-01 22:56] spdomin commented on #311
I will attempt to look at this tomorrow. This is a supported use case and should work. If not, it is a bug in the code.

[2018-02-02 01:46] spdomin opened #312 "Consistent boundary data for wall functions"
When using wall functions, we need to ensure that:

1) the projected nodal gradient is using velocity_bc (this should be consistent with the projected nodal gradient equation system owned by momentum)
2) the projection is active - unlike in Dirichlet conditions
3) the velocity_bc is not copied into the dof value in the wall registration method. In this case, we may want to add the algorithm to the

[2018-02-02 15:14] spdomin commented on #311
There are a couple of issues in the input files. Let me start with the first simulation.. I think that there was a copy/paste error:

[code]

The above ioRealm controls the inflow bc. However, it is missing a interval. The complete block should be:

[code]

Also, in the second simulation, the velocity_bc is providing the data (or attempting it) from the restarted simulation. However, velocity_bc i

[2018-02-02 15:27] spdomin commented on #311
The second run needs the following:

[code]

[2018-02-02 15:27] spdomin commented on #311
![firstsim](https://user-images.githubusercontent.com/8699324/35740705-e4d935c8-07f2-11e8-90c7-1f63eda9fdc0.png)
![secondsim](https://user-images.githubusercontent.com/8699324/35740710-e85ff83a-07f2-11e8-8b8a-a95a8820c5a5.png)

[2018-02-02 15:28] spdomin commented on #311
I used the R0 case to ensure that this was working so that I did not need to run the ~500 million DNS:)
[firstJet.txt](https://github.com/NaluCFD/Nalu/files/1689841/firstJet.txt)
[secondJet.txt](https://github.com/NaluCFD/Nalu/files/1689842/secondJet.txt)

[2018-02-02 17:06] spdomin commented on #312
Here is a patch... I think we need to make each change separate and the see if anything diffs.

[wallBcFix.txt](https://github.com/NaluCFD/Nalu/files/1690159/wallBcFix.txt)

[2018-02-02 18:25] spdomin commented on #312
@rcknaus, the projected nodal gradient equation system has a call set_data_map("fieldName"). The velocity management looks similar to this issue here. Speficially, the dof is used for the boundary contributions. The complexity in this system is that we do not solve the Gjui system, rather, GjQ with Q being copied in by the current velocity. I think we need boundary data within this copy...

Though

[2018-02-05 16:44] spdomin commented on #303
When we implemented overset with our PSAAP-2 student a few summers ago, we only focused on hex/tet/quad/tri elements. The hybrid overset mesh drove this decision. As such, the general_shape_function method was not implemented for Wedges and pyramids.

As for your second question, in Nalu, we use master elements using our chosen isoparametric range. In most cases, this choice was different from the

[2018-02-05 18:16] spdomin commented on #312
the above patch was a bit off...
[code]

I am also thinking through what user data should be used where, most notably:

`const std::string bcFieldName = wallFunctionApproach ? "wall_velocity_bc" : "velocity_bc";`

The above looks to have missed the ABL approach.

[2018-02-05 18:29] lluisjofre commented on #311
Hi,

I followed the indications and the problem is solved :)

Thanks a lot!!

[2018-02-05 19:34] spdomin commented on #311
Make sure that your first precursor simulations are correct. The lack of transfer for the inflow seemed to screw up the flow.

Closing now. Resubmit if you have further issues.

[2018-02-05 19:34] #311 closed

[2018-02-05 23:14] spdomin opened #316 "Ksgs design order looking way too viscous"
Standard Ksgs flows for jet flows are looking off when using the new design-order Ksgs kernel. Same with T-G sims.

[2018-02-05 23:46] spdomin commented on #316
https://github.com/NaluCFD/Nalu/commit/249ebce0f4580e06cbb2e5aa2fd584f9bdf72682

[2018-02-05 23:46] #316 closed

[2018-02-07 20:41] sayerhs commented on #303
Thanks @spdomin

[2018-02-07 20:41] #303 closed

[2018-02-07 21:23] spdomin commented on #303
Do you have a path forward? If so, great. If not, let's touch base offline.

[2018-02-08 13:11] spdomin commented on #312
Completed. Will create a new ticket for the PNG for momentum.

[2018-02-08 13:11] #312 closed

[2018-02-09 20:13] sayerhs opened #326 "Warnings in ScratchViews.C"
@spdomin @alanw0 Possible item for cleanup during the NGP refactor:

[code]

[2018-02-09 20:23] alanw0 commented on #326
@sayerhs thanks, I'll look into these

[2018-02-09 23:14] spdomin commented on #326
Yes, nice catch/suggestion.

[2018-02-11 04:09] alanw0 commented on #326
ok, these are taken care of now.

[2018-02-11 04:09] #326 closed

[2018-02-11 23:25] spdomin commented on #326
Yes, many thanks. I fixed those in my local Mac build 11 minutes before you pushed. Just as I was ready to push, I had a conflict - lol.

I added the parens while you changed the ? :

:)

Many thanks

[2018-02-13 00:57] spdomin commented on #309
Si, can this be closed now? Please let us know if you still are noting any issues.

[2018-02-14 14:53] nmhamster commented on #309
@spdomin - I cloned master again today and am still having problems.

[2018-02-14 18:01] spdomin opened #330 "External data not enough for complex use cases"
I have a use case in which I want to specify a velocity inflow from an external data file, however, the simulation precursor is for a non-ksgs model. However, since "external" applies to every doc, it tries to populate a field that does not exist in the input file.

We need an ability to specify with external field is expected.

[2018-02-14 18:03] spdomin commented on #309
Sorry to hear that. Let's try to resolve this ASAP.

By master, do you mean master yaml?

Perhaps @jrood-nrel can also advise. In my Mac build, I needed to re-clone YAML from github. This allowed me to work past the YAML errors. However, at the same time, my latest code base in Nalu with the old clone from YAML is working. This probably means I missed some subtlety that Jon can help us through.

[2018-02-14 18:14] jrood-nrel commented on #309
Since any new errors are not described, I'm assuming you are still seeing the original errors? I tried the latest YAML-CPP master and the latest Nalu master this morning and I am unable to reproduce any issues. I am using CMake 3.6.1 and 3.9.4 typically, but other than that, I'm not sure what else to suggest at the moment.

[2018-02-14 18:26] nmhamster commented on #309
@jrood-nrel / @spdomin - same errors as before. I am using YAML 0.5.3 on our systems and then hacking the `CMakeLists.txt` file so it works with that install.

[2018-02-14 18:29] jrood-nrel commented on #309
Try replacing the YAML section with this:

[2018-02-15 16:48] jrood-nrel commented on #309
Linking to a pull request I made addressing this in Spack for posterity.  https://github.com/spack/spack/pull/7245

[2018-02-27 16:08] giovastabile opened #332 "Solve with a source term from file"
Is it possible to solve a problem with a source term coming from the output file of another simulation? I add a look to the code but I couldn't understand whether this is possible or not.

[2018-02-27 16:26] jrood-nrel opened #333 "Redeclared Template Errors"
Updates to Trilinos have caused such errors as:
[code]

[2018-02-27 17:40] sayerhs commented on #333
@jrood-nrel Have you tried fixing these forward declarations in the `LinearSolverTypes.h` headers? I think we should remove the `bool classic` in each case.

[code]

[2018-02-28 12:42] spdomin commented on #332
I believe that if you have the field existing in an exodus data base, you can use the input/output feature to extract this data to a field, see:

https://github.com/NaluCFD/Nalu/tree/master/reg_tests/test_files/elemBackStepLRSST

or the last help ticket, https://github.com/NaluCFD/Nalu/issues/311

If you then declare the field in one of the equation systems, you can transfer into that field. Final

[2018-02-28 13:31] giovastabile commented on #332
Thanks for the prompt response.

What I want to do is to solve a Poisson problem with a source term generated from a previous simulation and stored in an exodus data base.

If I understood it well I would need to create an input file with two realms, one pointing to my self made system of equations (the one with the additional source term) and one which is of type input/output...

Am I correct?

[2018-02-28 15:45] spdomin commented on #332
Yes, I believe so. You can probably register the field in the LowMachEQS.

[2018-03-02 15:56] #333 closed

[2018-03-03 15:59] giovastabile commented on #332
I tried to implement your suggestions but I'm stuck and maybe I miss something. Unfortunately I'm using an old version of Nalu for which is not present the input/output feature. I'm modifying an existing system of equations in order to read a source term from an existing exodus file. I came up with the solution reported in the code but when I try to print out the read field I have only 0 even thou

[2018-03-04 17:00] sayerhs commented on #332
@giovastabile Can you try adding the following line to the `StkMeshIoBroker` instance to tell it to load fields from the file and try again?

[code]

[2018-03-04 17:31] giovastabile commented on #332
I tried but it I still have the same issue. I also attach the exodus file
from which I'm trying to extract the field.

Il 04 mar 2018 6:00 PM, "Shreyas Ananthan" <notifications@github.com> ha
scritto:

[2018-03-05 14:13] spdomin opened #335 "meSCV::grad_op() for promoted higher-order elements has not been implemented"
The promoted P>1 elements do not have meSCV::grad_op() implemented. This is causing my design-order Ksgs runs to throw.

Could one of you take this on? If you do not have the cycles, let me know and I can find the time.

[2018-03-05 14:17] spdomin commented on #332
You need to update to a new version. The input/output is available either in the master or v1.1.0-release. Once you have a version that supports the capability, we can walk through the use case.

Also, please do note the project/use-case driving the capability as this would help understand how Nalu is being used.

[2018-03-05 14:46] marchdf commented on #335
@spdomin I am focused on another ECP milestone this month so I don't think I will be able to get to it in the next couple of weeks. If this can wait that long, I can take a stab.

[2018-03-05 17:56] spdomin commented on #335
Okay, we can see how @rcknaus availability is. In general, there is no huge rush. Moreover, this may fit well within FY18/Q4's ECP milestone.

[2018-03-05 18:30] nmhamster commented on #309
@jrood-nrel - updated this morning to build on Sky Lake and I'm still seeing this error. Just wanted to keep you in the loop.

[code]

[2018-03-06 00:07] jrood-nrel commented on #309
@nmhamster So you have updated to the yaml-cpp master branch and this still isn't working? Please try `rm -rf CMakeCache.txt CMakeFiles/` in the build directory before configuring and see if that helps.

[2018-03-06 18:06] spdomin opened #339 "V27 41b failing in dynamic search algorithm mode"
The dynamic search algorithm seems to be failing in the large production run.

The code looks clean. As such, we may be missing something here...

[2018-03-06 19:00] jrood-nrel commented on #295
I have OpenMP enabled for the GCC 7.2.0 tests on OSX and I am not seeing any segfaults anymore. I'm going to close this issue.

[2018-03-06 19:00] #295 closed

[2018-03-06 19:10] jrood-nrel commented on #294
I'm still seeing diffs when I enable OpenMP. I think we may just have to accept it. I think I would be fine including another build line to test with OpenMP both enabled and disabled, and turning down the tolerance on the OpenMP enabled configuration, or we can update the golds to either reflect OpenMP enabled or disabled, though I haven't checked if the OpenMP enabled results are deterministic.

[2018-03-06 20:40] spdomin commented on #294
@jrood-nrel, before we accept diffs, which I agree may be what we do in the end, it would be nice to hear from the Trilinos team on whether or not activating openMP with num_threads = 1 results in a different Trilinos code path? This statement was hypothesized in our standup today.

[2018-03-06 20:42] spdomin commented on #291
I think that we can close this. Kitware offered a solution that our lab was neither willing nor able to deploy.

[2018-03-06 20:42] #291 closed

[2018-03-06 20:42] mhoemmen commented on #294
@spdomin The "OpenMP with `OMP_NUM_THREADS=1` path may invoke a different sparse matrix-matrix multiply routine, so yes.  Lots of MueLu developers are away (abroad, in fact) at a conference this week, so it would be better to wait and ask next week once they get back.

[2018-03-06 20:43] spdomin commented on #302
Resolved.

[2018-03-06 20:43] #302 closed

[2018-03-06 21:07] jrood-nrel commented on #294
Ok great. Thanks for picking this conversation back up.

[2018-03-07 01:14] sayerhs opened #340 "Selector definition in AssembleElemSolverAlgorithm should exclude inactive_selector"
I would expect the [AssembleElemSolverAlgorithm](https://github.com/NaluCFD/Nalu/blob/master/include/AssembleElemSolverAlgorithm.h#L62) to use a selector similar to the non-consolidated ElemSolverAlgorithms. However, it does not seem to exclude `realm_.get_inactive_selector()` and I suspect will create issues when running overset cases with consolidated algorithms. Is this a bug or is there a part

[2018-03-07 15:26] spdomin commented on #340
Right, this is a WIP and needs to add the inactive part. FaceElem looks clean as we do not support inactive parts at bcs. Any one can crank this out with the above proposed fix.

[2018-03-07 15:39] alanw0 commented on #340
I agree, the inactive selector should be added to the selector in AssembleElemSolverAlgorithm. I'll do that unless one of you already did.

[2018-03-07 17:46] alanw0 commented on #340
ok, it's pushed.

[2018-03-07 17:46] #340 closed

[2018-03-08 17:57] nmhamster opened #341 "NALU Compile Error with GCC 7.2.0"
I am trying to compile NALU-CFD on POWER8 systems with GCC 7.2.0. The version is from today. Just wanted to let you know what has come up.

[code]

[2018-03-08 18:04] sayerhs commented on #341
@nmhamster Thanks for the heads up. Can you confirm that you are not using the `-DTrilinos_ENABLE_STKSimd:BOOL=ON` option when compiling Trilinos?

[2018-03-08 20:32] sayerhs commented on #341
@nmhamster I added a fix to Nalu that should allow you to compile Nalu without enabling STK SIMD in Trilinos. Can you please give this latest commit a try and let me know if you are able to compile it? Thanks.

[2018-03-08 20:37] nmhamster commented on #341
@sayerhs - I **do** have `-D Trilinos_ENABLE_STKSimd:BOOL=ON` in my Trilinos configure.

[2018-03-08 20:45] sayerhs commented on #341
@nmhamster Sorry my mistake, I overlooked the fact that the code didn't complain about including `stk_simd/Simd.hpp`.

The fix I committed should fix your compilation issue of duplicate explicit instantiation.

[2018-03-08 21:01] nmhamster commented on #341
Testing under way ... (@sayerhs - thanks for putting the fix in quickly!)

[2018-03-08 21:25] nmhamster commented on #341
@sayerhs - I think we got past this code but I am getting loads of linking errors with TPetra. Argh. Need to go back and take a look at what's happening here. :-(

[2018-03-12 23:02] jrood-nrel commented on #309
#345 Resolved this. @sayerhs and I worked with @nmhamster over a call and verified it worked.

[2018-03-12 23:02] #309 closed

[2018-03-22 15:35] jrood-nrel opened #354 "Tests failing due to changes in Trilinos develop branch"
[code]
due to errors stating:
[code]

[2018-03-22 21:23] kddevin commented on #354
@jhux2 After a closer look, I think the problem is not in how mj_premigration_option is set (string or int); either of those will work.
The problem is that in MueLu_Zoltan2Interface_def.hpp, near line 152, the defaultZoltan2Params list is merged with Zoltan2Params.  In that operation, the parameter value is fetched as a string, instead of as an int.
        Zoltan2Params.set(pName, defaultZoltan2P

[2018-03-23 19:58] jrood-nrel opened #358 "Changes in either Trilinos or Nalu are causing 13 tests to fail with the Intel compiler"
Today 13 more tests are failing due most likely to changes in Trilinos, but there was also 40 files updated in Nalu from #356 and #352 .

The errors are as such:
[code]

[2018-03-23 21:20] aprokop commented on #354
Being fixed in MueLu.

[2018-03-23 21:51] spdomin commented on #358
@jrood-nrel, #356 was a localized change to affect only the Element-based wall function approach that is touched in only one test. #352 was larger, however, also should only be localized to a small number of tests.

Sorry that I missed this before we just processed a few pull requests. Nans are bad enough to halt the development process until we sort through the errors.

@rcknaus, can you bisect N

[2018-03-23 22:06] rcknaus commented on #358
#352 is the culprit.  The issue is a weird one, though: changes in a declaration of a Kokkos::View in face_grad_op will cause grad_op to fail.  I'm looking at it a bit with address sanitizer to see if there's a memory error somewhere

[2018-03-23 22:19] spdomin commented on #358
@rcknaus, if you can revert while you sort this out, that might be useful.

[2018-03-23 23:18] jhux2 commented on #354
@jrood-nrel Please let us know if the MueLu patch resolves the Nalu errors.

[2018-03-26 15:34] jrood-nrel commented on #354
@jhux2 It looks like this is fixed in the Trilinos develop branch, but it's still lingering in master at the moment.

[2018-04-03 19:17] jrood-nrel commented on #354
Looks like this has been fixed in both the develop and master branch of Trilinos.

[2018-04-03 19:17] #354 closed

[2018-04-03 19:28] jrood-nrel commented on #358
Since these changes were reverted, I'm going to close this issue and make a new issue if anything shows up in the tests again.

[2018-04-03 19:28] #358 closed

[2018-04-03 19:41] jrood-nrel commented on #294
I think enough time has passed that it makes sense to accept these changes to OpenMP behavior and I will keep the OMP disabled behavior as the gold standard to machine precision and relax the tolerance where necessary on the Linux/GCC cases with OMP enabled. I'm sure when I start to test with `OMP_NUM_THREADS>1` at some point in the future, the results in which we check for diffs will become non-d

[2018-04-03 21:29] jrood-nrel commented on #294
@csiefer2 Yes, the GCC 7.2.0 problems have went away. However, if I enable OpenMP and use `OMP_NUM_THREADS=1`, then I will still get different results than when OpenMP is fully disabled in Trilinos. This used to not be the case. If a different code path is being used when OpenMP is enabled now, it's fine. There just hasn't been much confirmation that such behavior is expected. I'm just planning on

[2018-04-03 21:34] csiefer2 commented on #294
@jrood-nrel That is correct.  A different code path in MueLu is activated when OpenMP is enabled.  Your approach is sensible.

[2018-04-03 21:37] jrood-nrel commented on #294
@csiefer2 Thanks! I'm going to close this then. On to future things.

[2018-04-03 21:37] #294 closed

[2018-04-24 18:00] amagela opened #369 "Nalu build fail on KNL with gcc-7.2.0"
Greetings. I am trying to build Nalu on the KNL portion of SNL Mutrino and I get many errors that resemble the block below (I have the full Nalu build log with all of the errors attached). This build grabbed Nalu from today and Trilinos from today as well. Thank you for your help with this.

`
/projects/hpcart/LDMS_testing/Nalu/nalu-mutrino-20180423/spack/opt/spack/cray-cnl6-mic_knl/gcc-7.2.0/tril

[2018-05-03 19:22] jrood-nrel opened #376 "Diffs on 3 tests"
Tests `elemHybridFluids`, `dgncThreeBladeHypre`, and `nrel5MWactuatorLine` are showing diffs due to commits done on May 2. I am unsure of which specific commit or commits caused the failures.

[2018-05-03 19:54] spdomin commented on #376
John. On our side, I am seeing the elemHybridFluids diff. I will look into that ASAP.

[2018-05-03 20:26] sayerhs commented on #376
@spdomin Yes, to both symmetry and consolidated algorithms [dgncThreeBladeHypre.i](https://github.com/NaluCFD/Nalu/blob/master/reg_tests/test_files/dgncThreeBladeHypre/dgncThreeBladeHypre.i)

[2018-05-03 23:00] spdomin commented on #376
Okay, the dgnc diff is due to the new ordering (back to the original, really) of the exposed faces supplied to all bcs. These should be small and can be re-blessed. With Overfelt's past PR for quad4/tri3 face_grad_op, we can re-activate the symmetry consolidated approach.

The same is true with the nrel5W case - specifically, it uses consolidated and symmetry. This also can be modified to include

[2018-05-21 19:00] spdomin commented on #376
John. Ws this resolved?

[2018-05-21 19:01] spdomin opened #385 "V27 41b seg-faults in AssembleNodalGradU algorithm when wall functions are active."
When activating wall functions,

[code]

the production V27-41b fails.

[2018-05-21 19:03] spdomin commented on #385
Dear SA and RCK - I just added you two as I could not find a "watch" attribute. If someone has spare cycles, this would be nice to resolve. I am going to take a shot later today or tomorrow.

[2018-05-21 19:46] sayerhs commented on #376
@spdomin @jrood-nrel did fix these. See the latest dashboard: https://my.cdash.org/index.php?project=Nalu-Wind

[2018-05-21 19:49] jrood-nrel commented on #376
Yes, sorry. The diffs were accepted for the openfast and hypre tests and `elemHybridFluids` was resolved by #378 I believe.

[2018-05-21 19:49] #376 closed

[2018-05-21 21:34] spdomin commented on #385
I think that I have this figured out. The code does not seem to be setup for mix and matching of wall functions on and off in the same run.

[2018-05-22 17:36] spdomin commented on #385
https://github.com/NaluCFD/Nalu/pull/386 done.

[2018-05-22 17:36] #385 closed

[2018-05-23 01:16] spdomin opened #390 "Support Edge-AreaVec Assembly for NumSCS != NumEdgesInElem"
@mbarone81 and @rcknaus, I am thinking the below might be best...

[code]
with:

[code]

All of the low-order elements should be trivial. The new Pyr5 with 12 ips will require looking at lrscv to determine the proper edge.

[2018-05-28 12:58] spdomin commented on #390
Fork was updated, however edge-based is still failing. I think that the next step it to check dual volume.

[2018-05-28 23:10] spdomin opened #392 "SIMD off causes build error on Mac"
I may be missing something here...

I would like to run on Mac without SIMD. My Trilinos has the following:

-DTrilinos_ENABLE_STKSimd:BOOL=OFF \

However, my Nalu build fail due to:

/include/SimdInterface.h:18:10: fatal error: 'stk_simd/Simd.hpp' file not found
#include "stk_simd/Simd.hpp"

Am I missing something simple? I thought that the lack of Trilinos SIMD build should have set a special #d

[2018-05-28 23:40] spdomin commented on #392
Hmmm... I though a design premise was always the ability to deactivate SIMD?

I guess we could add something in NaluConfig - possibly, STK_HAVE_SIMD

[2018-06-05 02:21] spdomin commented on #390
Resolved... nEdge needed to be ip.

[2018-06-05 02:21] #390 closed

[2018-08-03 18:51] spdomin opened #399 "PNG overset clash"
https://github.com/Exawind/nalu-wind/commit/10e354626c7ceb0b2c2bc7037e285acb21fe4968

[2018-09-09 22:26] msv5450 opened #403 "Data probes not working with epetra solvers"
I wanted to output some data probe files so I added a data_probes section to the input file according to the Nalu user Manual. The problem is that Nalu is able to read the probe point specifications, but the job gets terminated upon "EquationSystems::initialize(): Begin". Afterwards, it gives this run time error: "Throwing an instance of INT", followed by other error messages about failure to init

[2018-09-13 16:36] spdomin commented on #403
Epetra was deprecated just after the 1.1 release. I would move to Tpetra.

As for the proper Trilinos version for 1.1, let me check and report back.

[2018-09-17 19:26] spdomin opened #404 "Prune the NaluCFD team"
Greetings @NaluCFD/core. I plan on pruning the NaluCFD team given the full transition to ExaWind/nalu-wind.

I will also be removing all of the wind-based team tags.

Best,

Stefan

[2018-09-21 20:26] #404 closed, assigned to nobody

[2018-10-14 17:26] msv5450 opened #408 "Mixed Tet/Hex mesh"
Is NALU able to handle a mesh that is composed of both tet and hex elements. I made a mesh that is half tet and half hex. I see some numerical errors, like spurious heat generation, at the interface of hex and tet regions where the tet/hex node are connected to each other. This is a conformal mesh by the way and tet and hex regions are separate blocks.

If NALU can numerically support such a grid,

[2018-10-15 17:41] spdomin commented on #408
Although a Hex8 and Tet4 mesh can be conformal, the dual volume is not well posed. As such, you either require a Pyramid5 transition layer or the usage of the non-conformal approach that would allow for a hybrid CVFEM/DG approach at the mixed interface. If your nodes of the mesh are unique to each Hex8 and Tet4 block, you may already have this option given your mesh.

[2018-10-26 20:04] #211 closed

[2018-10-30 21:28] bschwal opened #409 "Nalu build warning on Power8 possibly leading to runtime issue"
I am building Nalu on a power8 system. During the build I get many warnings like the one below:

include/master_element/MasterElementFunctions.h:96:32: warning: requested alignment 64 is larger than 16[-Wattributes]
       NALU_ALIGNED const ftype inv_detj = ftype(1.0) / det;

The build completes successfully but during the run I get this error:

terminate called after throwing an instance of 'std

[2018-10-30 21:29] bschwal commented on #409
I am using GCC 7.2.0 to compile

[2018-10-30 22:24] spdomin commented on #409
@alanw0, do you have any insight here?

[2018-10-30 22:25] spdomin commented on #409
Also, @crtrott may have some insight..

[2018-10-30 22:38] alanw0 commented on #409
I'm going to mention Robert and Shreyas (@rcknaus @sayerhs ) for expertise on the NALU_ALIGNED macro. I'm not sure that the alignment issue has anything to do with the Tpetra::MultiVector issue. This could be something in the solver stack. I would like to see more information such as a stack-trace if available.

[2018-10-30 23:04] spdomin commented on #409
@alanw0, what about these scary warnings:

include/master_element/MasterElementFunctions.h:96:32: warning: requested alignment 64 is larger than 16[-Wattributes]
NALU_ALIGNED const ftype inv_detj = ftype(1.0) / det;

I think this suggests that:

#define NALU_ALIGNED alignas(KOKKOS_MEMORY_ALIGNMENT)

is confused?

[2018-10-31 15:02] bschwal commented on #409
Getting a stack trace off our system is proving tricky. Where is the #define NALU_ALIGNED defined at? Is that something I can try to manually change?

[2018-10-31 15:03] sayerhs commented on #409
@bschwal It is defined in `include/KokkosInterface.h`, try changing it to

[code]

Or directly

[code]

[2018-10-31 15:30] bschwal commented on #409
I changed it to the latter define statement and did not get any of the warnings in my build. However, I am still receiving the same termination error.

[2018-10-31 15:38] crtrott commented on #409
I find it highly unlikely that the alignment is the cause of your tpetra issue ...

[2018-10-31 16:44] bschwal commented on #409
Just noticed I had this warning when building Trilinos with OpenMP. Still new to this codebase.

  - Tpetra_ENABLE_CUDA is OFF, so Tpetra will assume that MPI is not CUDA aware.
NOTE: Kokkos::Serial is ON (the CMake option Kokkos_ENABLE_Serial is ON), but the corresponding Tpetra Node type is disabled.  If you want to enable instantiation and use of Kokkos::Serial in Tpetra, please also set the CM

[2018-10-31 18:53] bschwal commented on #409
Still having issues even after resolving this error. Any help is appreciated, thanks for the input so far.

[2018-10-31 18:57] sayerhs commented on #409
@bschwal Are you attempting to run any of the regression tests, or your own mesh/input file combination? If the latter, then I would recommend making sure of the build with regression tests first and reporting the failed regression test case.

[2018-10-31 19:18] bschwal commented on #409
I am attempting to run a mesh/input file combination that has worked on an intel system without issue.

[2018-10-31 20:10] spdomin commented on #409
I agree with @sayerhs in that running the rtest suite would be useful. I was worried about that warning, however, perhaps that was a side issue. It does still make me wonder why usage of the kokkos KOKKOS_MEMORY_ALIGNMENT variable was providing warnings. @crtrott, could you comment?

In the meantime, perhaps you could post the input file or comment on the type of physics/boundary conditions you ar

[2018-10-31 20:24] bschwal commented on #409
Would you be so kind as to direct me to the rtest suite? I'd really appreciate. I am running the milestoneRun with 1cm_ped_35K.g.

[2018-11-02 16:47] spdomin commented on #409
To run the tests, first insure that you had the enable test in the Nalu config:

  -DENABLE_TESTS:BOOL=ON \

Then, in the /build directory, simply execute:

the milestoneRun does not even use any of the new kokkos-based Nalu kernels?

[2018-11-02 20:57] #332 closed

[2018-11-05 14:31] bschwal commented on #409
ctest -j 8 results in 75/75 tests failing.

[2018-11-06 20:18] spdomin commented on #409
I will need to find a local OS that matches your setup to provide more value added. Let me look into that in the next week.

[2018-11-06 20:21] bschwal commented on #409
Thank you I appreciate your help!

[2019-01-17 22:07] spdomin commented on #408
Closing.

[2019-01-17 22:07] #408 closed

[2019-01-17 22:15] msv5450 opened #424 "Ksgs LES turbulence model wall BC"
The transport equation for the Ksgs LES turbulence model doesn't allow a no flux BC on a wall boundary. Does it have any physical bearing that it must have a Dirichlet BC for turbulent kinetic energy on the wall BCs?

I made a slight change in the source code and it runs fine with a no flux BC.

[2019-01-18 03:50] spdomin commented on #424
For a fully resolved wall boundary condition, I believe that the zero flux weak bc is suitable for Ksgs. As the mesh is refined, the wall value should approach zero.

For a non-resolved wall simulation, i.e., using wall functions, one must modify the production and dissipation source terms assembled to the near wall nodal value to be in local equilibrium. If one performs this assumption, then in t

[2019-01-21 19:10] msv5450 opened #426 "buoyancy source term for turbulence models"
Why isn't a buoyancy source term defined for the transport equation of Specific Dissipation Rate in the SST RANS model, while there is such a source term in the Rodi form for the turbulent kinetic energy equation?

I've seen buoyancy source terms for both K and Omega equations in the literature.

[2019-01-21 23:25] msv5450 opened #427 "Effective viscosity in Ksgs transport equation"
I think the effective viscosity is not correctly evaluated in the code for "Subgrid-Scale Kinetic Energy One-Equation LES Model". It is correct for SST though.

According to the Ksgs governing equation:  "effective viscosity = turb_viscosity / sigma_k" and it has been assumed that  sigma_k=1.0. However, effective viscosity gets computed as the sum of molecular and turbulent viscosities in the code

[2019-01-22 13:12] spdomin commented on #427
In general, the derivation for a turbulent kinetic equation will not facilitate a laminar contribution to the effective viscosity. However, classically, it is included to add stability in the laminar regions of the flow. Feel free to set the parameter such that only the turbulent contribution is included.